<style>

  .background {
    position: absolute;
    opacity: 0.05;
    left: 15%;
  }
  .background.right {
    z-index: -1;
    right: 2%;
    left: auto;
    opacity: .2;
  }

  @media (max-width: 767px) {
    .background {
      left: 0;
    }

  }

  .main-hero {
    position: relative;
    overflow: hidden;
  }

</style>
<div class="hero main-hero is-fullheight-with-navbar is-default is-bold">
  <figure class="background">
    <img src="/assets/landing/tunisia.svg" alt="Tunisia">
  </figure>
  <figure class="background right">
    <img src="/assets/landing/student-colour.svg" alt="Patient">
  </figure>
  <div class="hero-body">
    <div class="container">
      <div class="is-vcentered">

        <div class="top-plan">
          <h1 class="title is-1 is-bold is-spaced is-color-app-primary">
            <%= t('welcome.hero.title') %>
          </h1>
          <h2 class="subtitle is-6 is-muted">
            <small style="font-size: 10px">
              <%= t('welcome.hero.small') %>
            </small>
            <%= t('welcome.hero.subtitle') %>
          </h2>

          <%= render 'public/professionals/search_form' %>

        </div>
      </div>
    </div>
  </div>

</div>