<%= current_user.id %>
<%= simple_form_for(:message, {url: api_v1_messages_path}) do |f| %>
  <div class="field-body">
    <div class="field">
      <%= f.input_field :to, {class: 'input'} %>
    </div>

    <div class="field">
      <%= f.text_field :body, {class: 'input'} %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
