<div>
  <h1 class="app-title">Vault</h1>

</div>
<hr/>
<div class="container-fluid">

  <h2 class="title is-6 has-text-centered">What's End-to-End Encryption</h2>
  <br/>
  <p class="content">

    Messages are encrypted at all times

    Messages are stored on bloosa servers (in cloud offer) in encrypted format.
    They are also transmitted in encrypted format between our servers and user devices. Messages between bloosa users
    are
    also transmitted in encrypted form within our secure server network. Because data is encrypted at all steps, the
    risk
    of message interception is largely eliminated.

  </p>
</div>