<style>

</style>
<div>
  <h1 class="app-title">Vault</h1>
</div>
<div class="container-fluid">
  <div class="box box-no-shadow  vault-title__container" style="background: #f8e5e9">

    <h2 class="title is-5 has-text-centered">Qu'est ce que le End-to-End Encryption ? </h2>
    <img src="https://images.unsplash.com/photo-1524721696987-b9527df9e512?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80">

  </div>

  <a>Pour toute communication en cryptage bout en bout , vous devez définir un mot de passe qui servira de crypter </a>
  Attention, si vous oubliez votre mot de passe, il n'y a aucun moyen de récupérer vos donneés. Merci de noter le mot de
  passe de vault sur un papier et l'imprimer
</div>
<%= render 'professional/vault/form' %>
