<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= f.fields_for :user_profile do |profile_form| %>
    <div class="box_form">
      <div class="form-group">
       <!-- <%= profile_form.text_field :name, autofocus: true, :placeholder => t('devise.form.name'), class: 'form-control' %>-->
      <!--  <%= profile_form.text_field :last_name, autofocus: true, :placeholder => t('devise.form.last_name') %>-->
        <%= f.input :email, autofocus: true, placeholder: t('devise.form.email'), label: false, :input_html => {class: 'form-control'} %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "Your password", label: false, :input_html => {class: 'form-control'} %>
        <%= f.input :password_confirmation, required: true, placeholder: t('devise.form.confirm_password'), label: false, :input_html => {class: 'form-control'} %>
      </div>
      <!--
      <label><%= t('devise.form.gender') %></label>
      <%= profile_form.select(:gender, options_for_select([[t('Male'), 'M'], [t('Female'), 'F']]), {:prompt => 'Select Gender'}) %>

      <div class="form-group">
        <label><%= t('devise.form.birthdate') %></label>
        <%= profile_form.date_field :birthday, required: true, placeholder: "dd/mm/yyyyy", label: false, :input_html => {class: 'form-control', type: 'date'} %>
      </div>
      <div class="form-group">
        <label><%= t('account.info.address') %>*</label>
        <%= profile_form.text_field :address, required: true, placeholder: t("address placeholder"), label: false, :input_html => {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <label><%= t('account.info.zip_code') %>*</label>
        <%= profile_form.text_field :zip_code, required: true, placeholder: t("address placeholder"), label: false, :input_html => {class: 'form-control'} %>
      </div>-->
      <div id="pass-info" class="clearfix"></div>
      <div class="checkbox-holder text-left">
        <div class="checkbox_2">
          <input type="checkbox" value="accept_2" id="check_2" name="check_2" checked>
          <label for="check_2"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
        </div>
      </div>
      <div class="form-group text-center add_top_30">
        <%= f.button :submit, "Sign up", class: 'btn_1' %>
      </div>
    </div>
    <p class="text-center">

      <%= render "devise/shared/links" %>
      <small>Has voluptua vivendum accusamus cu. Ut per assueverit temporibus dissentiet. Eum no atqui putant
        democritum, velit nusquam sententiae vis no.
      </small>
    </p>
  <% end %>
<% end %>