/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
/* ==========================================================================
Main SCSS file / Fresh
========================================================================== */
@font-face {
  font-family: sofiapro-light;
  src: url("/fonts/sofiapro-light.otf") format("opentype");
}

@font-face {
  font-family: sofiapro;
  src: url("/fonts/Sofia Pro Regular.otf") format("opentype");
}

/* line 15, app/assets/stylesheets/application/style.scss */
html *, body * {
  font-family: sofiapro !important;
}

/* line 19, app/assets/stylesheets/application/style.scss */
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* line 26, app/assets/stylesheets/application/style.scss */
.is-margin-auto {
  margin: auto;
}

/* ==========================================================================
Color variables
========================================================================== */
/* ==========================================================================
Color variables
========================================================================== */
/* line 3, app/assets/stylesheets/application/_icons.scss */
svg.app-icon {
  width: 24px;
  height: 24px;
  margin: 5px;
  --primary: #2680c0;
  --secondary: #F2F2F2;
}

/* line 9, app/assets/stylesheets/application/_icons.scss */
svg.app-icon .alt {
  --primary: red;
  --secondary: #6F213F;
}

/* ==========================================================================
Color variables
========================================================================== */
/* line 2, app/assets/stylesheets/application/_layout.scss */
.app-notification {
  padding: .1rem .3rem;
  margin: .2rem 0;
  border-radius: 4px;
  font-size: 13px;
}

/* line 7, app/assets/stylesheets/application/_layout.scss */
.app-notification .app-icon {
  width: 20px;
  height: 20px;
  margin: -5px 3px;
}

/* line 12, app/assets/stylesheets/application/_layout.scss */
.app-notification.is-warning {
  background: navajowhite;
}

/* line 14, app/assets/stylesheets/application/_layout.scss */
.app-notification.is-warning .app-icon {
  --primary: black;
  --secondary: black;
}

/* line 19, app/assets/stylesheets/application/_layout.scss */
.app-notification.is-danger {
  background-color: #d64343;
  color: white;
}

/* ==========================================================================
Color variables
========================================================================== */
/* line 5, app/assets/stylesheets/application/_palette.scss */
.color-primary-1 {
  color: #003e6b !important;
}

/* line 8, app/assets/stylesheets/application/_palette.scss */
.bg-primary-1 {
  background: #003e6b !important;
}

/* line 11, app/assets/stylesheets/application/_palette.scss */
.button.bg-primary-1 {
  border-color: transparent;
  color: white;
}

/* line 5, app/assets/stylesheets/application/_palette.scss */
.color-primary-2 {
  color: #0a558a !important;
}

/* line 8, app/assets/stylesheets/application/_palette.scss */
.bg-primary-2 {
  background: #0a558a !important;
}

/* line 11, app/assets/stylesheets/application/_palette.scss */
.button.bg-primary-2 {
  border-color: transparent;
  color: white;
}

/* line 5, app/assets/stylesheets/application/_palette.scss */
.color-primary-3 {
  color: #0f6099 !important;
}

/* line 8, app/assets/stylesheets/application/_palette.scss */
.bg-primary-3 {
  background: #0f6099 !important;
}

/* line 11, app/assets/stylesheets/application/_palette.scss */
.button.bg-primary-3 {
  border-color: transparent;
  color: white;
}

/* line 5, app/assets/stylesheets/application/_palette.scss */
.color-primary-4 {
  color: #1870af !important;
}

/* line 8, app/assets/stylesheets/application/_palette.scss */
.bg-primary-4 {
  background: #1870af !important;
}

/* line 11, app/assets/stylesheets/application/_palette.scss */
.button.bg-primary-4 {
  border-color: transparent;
  color: white;
}

/* line 5, app/assets/stylesheets/application/_palette.scss */
.color-primary-5 {
  color: #2680c0 !important;
}

/* line 8, app/assets/stylesheets/application/_palette.scss */
.bg-primary-5 {
  background: #2680c0 !important;
}

/* line 11, app/assets/stylesheets/application/_palette.scss */
.button.bg-primary-5 {
  border-color: transparent;
  color: white;
}

/* line 5, app/assets/stylesheets/application/_palette.scss */
.color-primary-6 {
  color: #4299d7 !important;
}

/* line 8, app/assets/stylesheets/application/_palette.scss */
.bg-primary-6 {
  background: #4299d7 !important;
}

/* line 11, app/assets/stylesheets/application/_palette.scss */
.button.bg-primary-6 {
  border-color: transparent;
  color: white;
}

/* line 5, app/assets/stylesheets/application/_palette.scss */
.color-primary-7 {
  color: #64b1e8 !important;
}

/* line 8, app/assets/stylesheets/application/_palette.scss */
.bg-primary-7 {
  background: #64b1e8 !important;
}

/* line 11, app/assets/stylesheets/application/_palette.scss */
.button.bg-primary-7 {
  border-color: transparent;
  color: white;
}

/* line 5, app/assets/stylesheets/application/_palette.scss */
.color-primary-8 {
  color: #b4dffe !important;
}

/* line 8, app/assets/stylesheets/application/_palette.scss */
.bg-primary-8 {
  background: #b4dffe !important;
}

/* line 11, app/assets/stylesheets/application/_palette.scss */
.button.bg-primary-8 {
  border-color: transparent;
  color: white;
}

/* line 5, app/assets/stylesheets/application/_palette.scss */
.color-primary-9 {
  color: #daedfb !important;
}

/* line 8, app/assets/stylesheets/application/_palette.scss */
.bg-primary-9 {
  background: #daedfb !important;
}

/* line 11, app/assets/stylesheets/application/_palette.scss */
.button.bg-primary-9 {
  border-color: transparent;
  color: white;
}

/* line 19, app/assets/stylesheets/application/_palette.scss */
.color-support-red-1 {
  color: #620404 !important;
}

/* line 22, app/assets/stylesheets/application/_palette.scss */
.bg-support-red-1 {
  background: #620404 !important;
}

/* line 25, app/assets/stylesheets/application/_palette.scss */
.button.bg-support-red-1 {
  border-color: transparent !important;
  color: white !important;
}

/* line 19, app/assets/stylesheets/application/_palette.scss */
.color-support-red-2 {
  color: #760a0a !important;
}

/* line 22, app/assets/stylesheets/application/_palette.scss */
.bg-support-red-2 {
  background: #760a0a !important;
}

/* line 25, app/assets/stylesheets/application/_palette.scss */
.button.bg-support-red-2 {
  border-color: transparent !important;
  color: white !important;
}

/* line 19, app/assets/stylesheets/application/_palette.scss */
.color-support-red-3 {
  color: #921111 !important;
}

/* line 22, app/assets/stylesheets/application/_palette.scss */
.bg-support-red-3 {
  background: #921111 !important;
}

/* line 25, app/assets/stylesheets/application/_palette.scss */
.button.bg-support-red-3 {
  border-color: transparent !important;
  color: white !important;
}

/* line 19, app/assets/stylesheets/application/_palette.scss */
.color-support-red-4 {
  color: #a71b1b !important;
}

/* line 22, app/assets/stylesheets/application/_palette.scss */
.bg-support-red-4 {
  background: #a71b1b !important;
}

/* line 25, app/assets/stylesheets/application/_palette.scss */
.button.bg-support-red-4 {
  border-color: transparent !important;
  color: white !important;
}

/* line 19, app/assets/stylesheets/application/_palette.scss */
.color-support-red-5 {
  color: #bb2525 !important;
}

/* line 22, app/assets/stylesheets/application/_palette.scss */
.bg-support-red-5 {
  background: #bb2525 !important;
}

/* line 25, app/assets/stylesheets/application/_palette.scss */
.button.bg-support-red-5 {
  border-color: transparent !important;
  color: white !important;
}

/* line 19, app/assets/stylesheets/application/_palette.scss */
.color-support-red-6 {
  color: #d64343 !important;
}

/* line 22, app/assets/stylesheets/application/_palette.scss */
.bg-support-red-6 {
  background: #d64343 !important;
}

/* line 25, app/assets/stylesheets/application/_palette.scss */
.button.bg-support-red-6 {
  border-color: transparent !important;
  color: white !important;
}

/* line 19, app/assets/stylesheets/application/_palette.scss */
.color-support-red-7 {
  color: #e66b6b !important;
}

/* line 22, app/assets/stylesheets/application/_palette.scss */
.bg-support-red-7 {
  background: #e66b6b !important;
}

/* line 25, app/assets/stylesheets/application/_palette.scss */
.button.bg-support-red-7 {
  border-color: transparent !important;
  color: white !important;
}

/* line 19, app/assets/stylesheets/application/_palette.scss */
.color-support-red-8 {
  color: #f29c9c !important;
}

/* line 22, app/assets/stylesheets/application/_palette.scss */
.bg-support-red-8 {
  background: #f29c9c !important;
}

/* line 25, app/assets/stylesheets/application/_palette.scss */
.button.bg-support-red-8 {
  border-color: transparent !important;
  color: white !important;
}

/* line 19, app/assets/stylesheets/application/_palette.scss */
.color-support-red-9 {
  color: #facccc !important;
}

/* line 22, app/assets/stylesheets/application/_palette.scss */
.bg-support-red-9 {
  background: #facccc !important;
}

/* line 25, app/assets/stylesheets/application/_palette.scss */
.button.bg-support-red-9 {
  border-color: transparent !important;
  color: white !important;
}

/* line 19, app/assets/stylesheets/application/_palette.scss */
.color-support-red-10 {
  color: #fff0f0 !important;
}

/* line 22, app/assets/stylesheets/application/_palette.scss */
.bg-support-red-10 {
  background: #fff0f0 !important;
}

/* line 25, app/assets/stylesheets/application/_palette.scss */
.button.bg-support-red-10 {
  border-color: transparent !important;
  color: white !important;
}

/*
This .scss loop will create "margin helpers" and "padding helpers" for use in your web projects.
It will generate several classes such as:
.m-r-10 which gives margin-right 10 pixels.
.m-r-15 gives MARGIN to the RIGHT 15 pixels.
.m-t-15 gives MARGIN to the TOP 15 pixels and so on.
.p-b-5 gives PADDING to the BOTTOM of 5 pixels
.p-l-40 gives PADDING to the LEFT of 40 pixels
The first letter is "m" or "p" for MARGIN or PADDING
Second letter is "t", "b", "l", or "r" for TOP, BOTTOM, LEFT, or RIGHT
Third letter is the number of spacing in pixels. Adjust the amounts generated by editing the $spaceamounts variable below.
*/
/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-5 {
  margin-top: 5px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-5 {
  padding-top: 5px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-5 {
  margin-bottom: 5px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-5 {
  padding-bottom: 5px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-5 {
  margin-left: 5px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-5 {
  padding-left: 5px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-5 {
  margin-right: 5px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-5 {
  padding-right: 5px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-10 {
  margin-top: 10px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-10 {
  padding-top: 10px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-10 {
  margin-bottom: 10px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-10 {
  padding-bottom: 10px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-10 {
  margin-left: 10px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-10 {
  padding-left: 10px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-10 {
  margin-right: 10px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-10 {
  padding-right: 10px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-15 {
  margin-top: 15px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-15 {
  padding-top: 15px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-15 {
  margin-bottom: 15px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-15 {
  padding-bottom: 15px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-15 {
  margin-left: 15px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-15 {
  padding-left: 15px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-15 {
  margin-right: 15px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-15 {
  padding-right: 15px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-20 {
  margin-top: 20px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-20 {
  padding-top: 20px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-20 {
  margin-bottom: 20px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-20 {
  padding-bottom: 20px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-20 {
  margin-left: 20px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-20 {
  padding-left: 20px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-20 {
  margin-right: 20px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-20 {
  padding-right: 20px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-25 {
  margin-top: 25px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-25 {
  padding-top: 25px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-25 {
  margin-bottom: 25px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-25 {
  padding-bottom: 25px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-25 {
  margin-left: 25px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-25 {
  padding-left: 25px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-25 {
  margin-right: 25px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-25 {
  padding-right: 25px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-30 {
  margin-top: 30px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-30 {
  padding-top: 30px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-30 {
  margin-bottom: 30px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-30 {
  padding-bottom: 30px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-30 {
  margin-left: 30px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-30 {
  padding-left: 30px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-30 {
  margin-right: 30px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-30 {
  padding-right: 30px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-35 {
  margin-top: 35px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-35 {
  padding-top: 35px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-35 {
  margin-bottom: 35px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-35 {
  padding-bottom: 35px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-35 {
  margin-left: 35px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-35 {
  padding-left: 35px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-35 {
  margin-right: 35px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-35 {
  padding-right: 35px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-40 {
  margin-top: 40px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-40 {
  padding-top: 40px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-40 {
  margin-bottom: 40px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-40 {
  padding-bottom: 40px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-40 {
  margin-left: 40px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-40 {
  padding-left: 40px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-40 {
  margin-right: 40px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-40 {
  padding-right: 40px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-45 {
  margin-top: 45px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-45 {
  padding-top: 45px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-45 {
  margin-bottom: 45px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-45 {
  padding-bottom: 45px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-45 {
  margin-left: 45px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-45 {
  padding-left: 45px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-45 {
  margin-right: 45px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-45 {
  padding-right: 45px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-50 {
  margin-top: 50px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-50 {
  padding-top: 50px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-50 {
  margin-bottom: 50px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-50 {
  padding-bottom: 50px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-50 {
  margin-left: 50px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-50 {
  padding-left: 50px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-50 {
  margin-right: 50px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-50 {
  padding-right: 50px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-75 {
  margin-top: 75px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-75 {
  padding-top: 75px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-75 {
  margin-bottom: 75px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-75 {
  padding-bottom: 75px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-75 {
  margin-left: 75px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-75 {
  padding-left: 75px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-75 {
  margin-right: 75px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-75 {
  padding-right: 75px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-100 {
  margin-top: 100px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-100 {
  padding-top: 100px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-100 {
  margin-bottom: 100px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-100 {
  padding-bottom: 100px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-100 {
  margin-left: 100px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-100 {
  padding-left: 100px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-100 {
  margin-right: 100px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-100 {
  padding-right: 100px !important;
}

/* ==========================================================================
Navbar
========================================================================== */
/* line 6, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar {
  position: relative;
  min-height: 3.8rem;
  transition: all .3s;
  /* overlap map */
  z-index: 401;
}

/* line 12, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar .button {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: none;
}

/* line 16, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar .container {
  min-height: 4rem;
}

/* line 19, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar.no-shadow {
  box-shadow: none !important;
}

/* line 23, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar .navbar-burger {
  width: 4rem;
  height: 4rem;
}

/* line 28, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar .navbar-brand {
  min-height: 4rem;
}

/* line 30, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar .navbar-brand img {
  max-height: 36px !important;
  height: 36px;
}

/* line 36, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar .navbar-brand:hover .navbar-item {
  background: transparent !important;
}

/* line 41, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar .navbar-end {
  align-items: center;
}

/* line 45, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar .navbar-item {
  color: #999;
}

/* line 47, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar .navbar-item.has-dropdown {
  padding: 10px 0;
}

/* line 49, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar .navbar-item.has-dropdown .navbar-link {
  color: #999;
}

/* line 51, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar .navbar-item.has-dropdown .navbar-link:after {
  top: 55%;
  height: 0.5em;
  width: 0.5em;
  border-width: 2px;
  border-color: #999;
}

/* line 59, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar .navbar-item.has-dropdown .navbar-dropdown {
  top: 3.4rem;
  min-width: 220px;
  margin-top: 4px;
}

/* line 63, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar .navbar-item.has-dropdown .navbar-dropdown .navbar-item {
  padding: 10px 20px;
}

/* line 77, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 4rem !important;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

/* line 85, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar.is-fixed a {
  color: #444F60;
}

/* line 87, app/assets/stylesheets/application/_navbar.scss */
.navbar.main-navbar.is-fixed a:hover {
  color: #004e92;
}

/* line 95, app/assets/stylesheets/application/_navbar.scss */
#navbar-clone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  transform: translateY(-100%);
  z-index: 100;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

/* line 104, app/assets/stylesheets/application/_navbar.scss */
#navbar-clone.is-active {
  transform: translateY(0);
}

/* line 1, app/assets/stylesheets/application/_buttons.scss */
.button.has-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* ==========================================================================
Color variables
========================================================================== */
/*
This .scss loop will create "margin helpers" and "padding helpers" for use in your web projects.
It will generate several classes such as:
.m-r-10 which gives margin-right 10 pixels.
.m-r-15 gives MARGIN to the RIGHT 15 pixels.
.m-t-15 gives MARGIN to the TOP 15 pixels and so on.
.p-b-5 gives PADDING to the BOTTOM of 5 pixels
.p-l-40 gives PADDING to the LEFT of 40 pixels
The first letter is "m" or "p" for MARGIN or PADDING
Second letter is "t", "b", "l", or "r" for TOP, BOTTOM, LEFT, or RIGHT
Third letter is the number of spacing in pixels. Adjust the amounts generated by editing the $spaceamounts variable below.
*/
/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-5 {
  margin-top: 5px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-5 {
  padding-top: 5px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-5 {
  margin-bottom: 5px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-5 {
  padding-bottom: 5px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-5 {
  margin-left: 5px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-5 {
  padding-left: 5px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-5 {
  margin-right: 5px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-5 {
  padding-right: 5px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-10 {
  margin-top: 10px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-10 {
  padding-top: 10px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-10 {
  margin-bottom: 10px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-10 {
  padding-bottom: 10px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-10 {
  margin-left: 10px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-10 {
  padding-left: 10px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-10 {
  margin-right: 10px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-10 {
  padding-right: 10px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-15 {
  margin-top: 15px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-15 {
  padding-top: 15px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-15 {
  margin-bottom: 15px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-15 {
  padding-bottom: 15px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-15 {
  margin-left: 15px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-15 {
  padding-left: 15px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-15 {
  margin-right: 15px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-15 {
  padding-right: 15px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-20 {
  margin-top: 20px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-20 {
  padding-top: 20px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-20 {
  margin-bottom: 20px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-20 {
  padding-bottom: 20px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-20 {
  margin-left: 20px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-20 {
  padding-left: 20px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-20 {
  margin-right: 20px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-20 {
  padding-right: 20px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-25 {
  margin-top: 25px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-25 {
  padding-top: 25px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-25 {
  margin-bottom: 25px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-25 {
  padding-bottom: 25px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-25 {
  margin-left: 25px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-25 {
  padding-left: 25px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-25 {
  margin-right: 25px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-25 {
  padding-right: 25px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-30 {
  margin-top: 30px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-30 {
  padding-top: 30px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-30 {
  margin-bottom: 30px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-30 {
  padding-bottom: 30px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-30 {
  margin-left: 30px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-30 {
  padding-left: 30px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-30 {
  margin-right: 30px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-30 {
  padding-right: 30px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-35 {
  margin-top: 35px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-35 {
  padding-top: 35px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-35 {
  margin-bottom: 35px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-35 {
  padding-bottom: 35px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-35 {
  margin-left: 35px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-35 {
  padding-left: 35px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-35 {
  margin-right: 35px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-35 {
  padding-right: 35px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-40 {
  margin-top: 40px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-40 {
  padding-top: 40px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-40 {
  margin-bottom: 40px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-40 {
  padding-bottom: 40px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-40 {
  margin-left: 40px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-40 {
  padding-left: 40px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-40 {
  margin-right: 40px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-40 {
  padding-right: 40px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-45 {
  margin-top: 45px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-45 {
  padding-top: 45px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-45 {
  margin-bottom: 45px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-45 {
  padding-bottom: 45px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-45 {
  margin-left: 45px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-45 {
  padding-left: 45px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-45 {
  margin-right: 45px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-45 {
  padding-right: 45px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-50 {
  margin-top: 50px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-50 {
  padding-top: 50px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-50 {
  margin-bottom: 50px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-50 {
  padding-bottom: 50px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-50 {
  margin-left: 50px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-50 {
  padding-left: 50px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-50 {
  margin-right: 50px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-50 {
  padding-right: 50px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-75 {
  margin-top: 75px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-75 {
  padding-top: 75px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-75 {
  margin-bottom: 75px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-75 {
  padding-bottom: 75px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-75 {
  margin-left: 75px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-75 {
  padding-left: 75px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-75 {
  margin-right: 75px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-75 {
  padding-right: 75px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-t-100 {
  margin-top: 100px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-t-100 {
  padding-top: 100px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-b-100 {
  margin-bottom: 100px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-b-100 {
  padding-bottom: 100px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-l-100 {
  margin-left: 100px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-l-100 {
  padding-left: 100px !important;
}

/* line 23, app/assets/stylesheets/application/_spacing.scss */
.m-r-100 {
  margin-right: 100px !important;
}

/* line 27, app/assets/stylesheets/application/_spacing.scss */
.p-r-100 {
  padding-right: 100px !important;
}

/* ==========================================================================
Navbar
========================================================================== */
/* line 7, app/assets/stylesheets/application/_search.scss */
.main-search {
  padding-top: 4rem;
}

/* line 9, app/assets/stylesheets/application/_search.scss */
.main-search button[type='submit'] {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: none;
}

/* line 12, app/assets/stylesheets/application/_search.scss */
.main-search button[type='submit'] svg.app-icon {
  margin: 0;
  --primary: #2680c0;
}

/* line 19, app/assets/stylesheets/application/_search.scss */
.list-container {
  padding: 1.5rem 0;
}

/* line 21, app/assets/stylesheets/application/_search.scss */
.list-container .list-container__item {
  padding: 0.5rem 0;
  display: flex;
}

/* line 26, app/assets/stylesheets/application/_search.scss */
.list-container .list-container__item .gallery-holder {
  width: 250px;
  height: 250px;
  border-radius: 4px;
  overflow: hidden;
  float: left;
}

/* line 32, app/assets/stylesheets/application/_search.scss */
.list-container .list-container__item .gallery-holder .gallery-item {
  height: auto;
  width: 250px;
}

/* line 37, app/assets/stylesheets/application/_search.scss */
.list-container .list-container__item .list-container__item-info {
  flex: auto;
}

/* line 40, app/assets/stylesheets/application/_search.scss */
.list-container .list-container__item .list-container__item-info .list-container__item-heading {
  flex: 1;
}

/* line 43, app/assets/stylesheets/application/_search.scss */
.list-container .list-container__item .list-container__item-info .list-container__item-footer {
  flex: 1;
}

@media screen and (max-width: 768px) {
  /* line 2, app/assets/stylesheets/application/mobile.scss */
  .main-search {
    padding: 0 0.5rem;
    margin-top: 0;
  }
}

/* ==========================================================================
Main SCSS file / Fresh
========================================================================== */
/* ==========================================================================
Color variables
========================================================================== */
/* line 6, app/assets/stylesheets/application/_charts.scss */
.bar-charts {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

/* line 13, app/assets/stylesheets/application/_charts.scss */
.bar-charts .bar {
  height: 300px;
  width: 7px;
  border-radius: 4px;
  margin: 14px auto;
  background-color: #92a3b37d;
}

/* line 19, app/assets/stylesheets/application/_charts.scss */
.bar-charts .bar .bar-item {
  width: 7px;
  border-radius: 4px;
  height: 24px;
  margin-top: 3px;
}

/* ==========================================================================
Main SCSS file / Fresh
========================================================================== */
/* line 4, app/assets/stylesheets/application/_base.scss */
.button.bg-primary- * {
  border: none;
}

/* line 8, app/assets/stylesheets/application/_base.scss */
.Site-footer {
  margin-top: auto;
}

/* line 10, app/assets/stylesheets/application/_base.scss */
.Site-footer .column {
  text-align: left;
}

/* line 14, app/assets/stylesheets/application/_base.scss */
.Site-footer .link-list li {
  padding: 4px 0;
}

/* line 17, app/assets/stylesheets/application/_base.scss */
.Site-footer .link-list a {
  color: #2680c0;
}

/* line 22, app/assets/stylesheets/application/_base.scss */
.Site-footer a {
  color: #2680c0;
}

/* line 29, app/assets/stylesheets/application/_base.scss */
.reset-checkbox-form {
  all: revert;
}

/* line 33, app/assets/stylesheets/application/_base.scss */
.is-relative {
  position: relative;
}

/* line 37, app/assets/stylesheets/application/_base.scss */
.pro-logo {
  background-color: #f2cd9e !important;
  color: black !important;
}

/* line 1, app/assets/stylesheets/application/devise.scss */
.devise-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 100%;
  flex: 1;
  flex-direction: column;
}

/* line 14, app/assets/stylesheets/application/devise.scss */
.devise-form-container {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

/* line 19, app/assets/stylesheets/application/devise.scss */
.devise-form-container form {
  width: 100%;
}

/* line 21, app/assets/stylesheets/application/devise.scss */
.devise-form-container form .form-title {
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
}
