/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *onfig.sass.load_paths
 */
/* ==========================================================================
Color variables
========================================================================== */
/* line 2, app/assets/stylesheets/professional/_navigation.scss */
.menu .tag {
  font-size: 9px !important;
}

/* line 5, app/assets/stylesheets/professional/_navigation.scss */
.menu a {
  display: flex;
  align-items: center;
  color: #1b2128;
}

/* line 10, app/assets/stylesheets/professional/_navigation.scss */
.menu a.disabled, .menu a.disabled * {
  color: #c6c8ca;
}

/* line 15, app/assets/stylesheets/professional/_navigation.scss */
.menu a:not(.disabled) span:not(.tag) {
  color: #1b2128;
}

/* line 18, app/assets/stylesheets/professional/_navigation.scss */
.menu a:not(.disabled) .feather {
  color: #9dacbe;
}

/* line 23, app/assets/stylesheets/professional/_navigation.scss */
.menu a .feather {
  margin: 0 6px;
  width: 18px;
  height: 18px;
}

/* line 1, app/assets/stylesheets/professional/_calendar.scss */
.month-calendar {
  width: 100%;
}

/* line 3, app/assets/stylesheets/professional/_calendar.scss */
.month-calendar td {
  text-align: center;
}

/* line 6, app/assets/stylesheets/professional/_calendar.scss */
.month-calendar td:not(.header) {
  height: 50px;
}

/* line 12, app/assets/stylesheets/professional/_calendar.scss */
.calendar .in-event {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  top: -5px;
  opacity: .4;
}

/* line 20, app/assets/stylesheets/professional/_calendar.scss */
.calendar .month {
  margin: auto;
}

/* line 22, app/assets/stylesheets/professional/_calendar.scss */
.calendar .month td {
  position: relative;
  font-size: 13px;
  padding: 5px;
  text-align: center;
}

/* line 2, app/assets/stylesheets/professional/_vault.scss */
.vault-title__container {
  position: relative;
  height: 77px;
  border: none;
  overflow: hidden;
}

/* line 7, app/assets/stylesheets/professional/_vault.scss */
.vault-title__container .title {
  z-index: 1;
  color: white;
  position: relative;
}

/* line 12, app/assets/stylesheets/professional/_vault.scss */
.vault-title__container img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

/* line 2, app/assets/stylesheets/professional/_navigation.scss */
.menu .tag {
  font-size: 9px !important;
}

/* line 5, app/assets/stylesheets/professional/_navigation.scss */
.menu a {
  display: flex;
  align-items: center;
  color: #1b2128;
}

/* line 10, app/assets/stylesheets/professional/_navigation.scss */
.menu a.disabled, .menu a.disabled * {
  color: #c6c8ca;
}

/* line 15, app/assets/stylesheets/professional/_navigation.scss */
.menu a:not(.disabled) span:not(.tag) {
  color: #1b2128;
}

/* line 18, app/assets/stylesheets/professional/_navigation.scss */
.menu a:not(.disabled) .feather {
  color: #9dacbe;
}

/* line 23, app/assets/stylesheets/professional/_navigation.scss */
.menu a .feather {
  margin: 0 6px;
  width: 18px;
  height: 18px;
}

/* line 1, app/assets/stylesheets/professional/_calendar.scss */
.month-calendar {
  width: 100%;
}

/* line 3, app/assets/stylesheets/professional/_calendar.scss */
.month-calendar td {
  text-align: center;
}

/* line 6, app/assets/stylesheets/professional/_calendar.scss */
.month-calendar td:not(.header) {
  height: 50px;
}

/* line 12, app/assets/stylesheets/professional/_calendar.scss */
.calendar .in-event {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  top: -5px;
  opacity: .4;
}

/* line 20, app/assets/stylesheets/professional/_calendar.scss */
.calendar .month {
  margin: auto;
}

/* line 22, app/assets/stylesheets/professional/_calendar.scss */
.calendar .month td {
  position: relative;
  font-size: 13px;
  padding: 5px;
  text-align: center;
}

/* line 8, app/assets/stylesheets/professional/_index.scss */
.box-no-shadow {
  box-shadow: none;
  border: solid 1px #27737626;
}
