/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *=
 */
/* ==========================================================================
General Keyframes animations
========================================================================== */
/* line 4, app/assets/stylesheets/welcome/_animations.scss */
input.input {
  transition: all 0.8s;
}

/* line 8, app/assets/stylesheets/welcome/_animations.scss */
.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
}

/* line 16, app/assets/stylesheets/welcome/_animations.scss */
.delay-1 {
  animation-delay: .25s;
}

/* line 20, app/assets/stylesheets/welcome/_animations.scss */
.delay-2 {
  animation-delay: .5s;
}

/* line 24, app/assets/stylesheets/welcome/_animations.scss */
.delay-3 {
  animation-delay: .75s;
}

/* line 28, app/assets/stylesheets/welcome/_animations.scss */
.delay-4 {
  animation-delay: 1s;
}

/* line 32, app/assets/stylesheets/welcome/_animations.scss */
.delay-10 {
  animation-delay: 2s;
}

@keyframes fadeInLeft {
  from {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* line 63, app/assets/stylesheets/welcome/_animations.scss */
.preFadeInLeft {
  opacity: 0;
}

/* line 67, app/assets/stylesheets/welcome/_animations.scss */
.fadeInLeft {
  opacity: 0;
  animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
}

@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* line 98, app/assets/stylesheets/welcome/_animations.scss */
.preFadeInUp {
  opacity: 0;
}

/* line 102, app/assets/stylesheets/welcome/_animations.scss */
.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* line 109, app/assets/stylesheets/welcome/_animations.scss */
.gelatine {
  animation: gelatine 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@keyframes gelatine {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/* ==========================================================================
General Keyframes animations
========================================================================== */
/* ==========================================================================
Color variables
========================================================================== */
/* line 7, app/assets/stylesheets/welcome/_doctor.scss */
.icon-box .media-content {
  margin: auto;
}

/* line 13, app/assets/stylesheets/welcome/_doctor.scss */
#doctor_features svg.app-icon {
  width: 4rem;
  height: 4rem;
  margin: auto;
  --primary: #2680c0;
  --secondary: #f2cd9e;
}

/* line 22, app/assets/stylesheets/welcome/_doctor.scss */
.pushed-image {
  border-radius: 9px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.19);
}

/* line 28, app/assets/stylesheets/welcome/_doctor.scss */
.pricing-wrap {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px;
}

/* line 35, app/assets/stylesheets/welcome/_doctor.scss */
.pricing-wrap .feature-card {
  width: 300px;
  height: 600px;
  background-color: #fff;
  border-radius: 3px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* line 43, app/assets/stylesheets/welcome/_doctor.scss */
.pricing-wrap .feature-card .feature-card-middle {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

/* line 49, app/assets/stylesheets/welcome/_doctor.scss */
.pricing-wrap .feature-card.is-pricing {
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  -webkit-box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);
  box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);
  margin: 8px;
  padding: 20px;
  height: 600px;
}

/* line 57, app/assets/stylesheets/welcome/_doctor.scss */
.pricing-wrap .feature-card.is-pricing p {
  padding: 0 0 16px 0;
  color: #999;
}

/* line 61, app/assets/stylesheets/welcome/_doctor.scss */
.pricing-wrap .feature-card.is-pricing .price {
  position: relative;
  font-weight: 700;
  font-size: 2.4rem;
  color: #444F60;
}

/* line 67, app/assets/stylesheets/welcome/_doctor.scss */
.pricing-wrap .feature-card.is-pricing img {
  display: block;
  max-width: 160px;
  margin: 0 auto 0 auto;
}

/* line 529, src/assets/scss/pages/_pages-landing-kit5.scss */
/* line 77, app/assets/stylesheets/welcome/_doctor.scss */
.contact-form {
  width: 100%;
  padding: 40px 20px;
}

/* line 80, app/assets/stylesheets/welcome/_doctor.scss */
.contact-form label {
  font-weight: 600;
  color: #444F60;
}

/* line 84, app/assets/stylesheets/welcome/_doctor.scss */
.contact-form .submit-wrapper {
  text-align: right;
}

/* line 543, src/assets/scss/pages/_pages-landing-kit5.scss */
/* line 90, app/assets/stylesheets/welcome/_doctor.scss */
.contact-toggler {
  padding: 40px 0;
}

/* line 93, app/assets/stylesheets/welcome/_doctor.scss */
.contact-toggler .tabbed-links li {
  display: inline-block;
  padding: 10px;
  color: #cecece;
  border-top: 2px solid transparent;
  cursor: pointer;
}

/* line 99, app/assets/stylesheets/welcome/_doctor.scss */
.contact-toggler .tabbed-links li.is-active {
  color: #444F60;
  font-weight: 500;
  border-top: 2px solid #6EBDFF;
}

/* line 106, app/assets/stylesheets/welcome/_doctor.scss */
.contact-toggler .contact-blocks .contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
}

/* line 117, app/assets/stylesheets/welcome/_doctor.scss */
.contact-toggler .contact-blocks .contact-block .contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f2cd9e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* line 131, app/assets/stylesheets/welcome/_doctor.scss */
.contact-toggler .contact-blocks .contact-block .contact-icon svg {
  --primary: white;
  --secondary: white;
}

/* line 137, app/assets/stylesheets/welcome/_doctor.scss */
.contact-toggler .contact-blocks .contact-block .contact-info {
  padding: 0 10px;
}

/* line 139, app/assets/stylesheets/welcome/_doctor.scss */
.contact-toggler .contact-blocks .contact-block .contact-info span {
  display: block;
}

/* line 142, app/assets/stylesheets/welcome/_doctor.scss */
.contact-toggler .contact-blocks .contact-block .contact-info:first-child {
  font-weight: 500;
  color: #444F60;
}

/* line 146, app/assets/stylesheets/welcome/_doctor.scss */
.contact-toggler .contact-blocks .contact-block .contact-info:nth-child(2) {
  font-weight: 500;
  color: #039BE5;
}

/* line 602, src/assets/scss/pages/_pages-landing-kit5.scss */
/* line 157, app/assets/stylesheets/welcome/_doctor.scss */
.quick-signup {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 40px;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

/* line 16, app/assets/stylesheets/welcome.scss */
.welcome-full-background__container {
  overflow: hidden;
}

/* line 18, app/assets/stylesheets/welcome.scss */
.welcome-full-background__container .welcome-full-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 500px;
}

/* line 27, app/assets/stylesheets/welcome.scss */
#pack_brand .media-left {
  width: 120px;
}
