<aside id="admin_side" class="menu section">
  <p class="menu-label">
    <%= t('Admin') %>
  </p>
  <ul class="menu-list">
    <li>
      <a href="<%= admin_professionals_path %>">
        <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-dashboard'} %> <%= t("professionnals") %>
      </a>
    </li>
  </ul>
</aside>