/* ==========================================================================
General Keyframes animations
========================================================================== */
@import "application/colors";

.icon-box {
  .media-content {
    margin: auto;
  }
}

#doctor_features {
  svg.app-icon {
    width: 4rem;
    height: 4rem;
    margin: auto;
    --primary: #2680c0;
    --secondary: #f2cd9e;
  }
}

.pushed-image {
  border-radius: 9px;

  box-shadow: 0 0 50px hsla(0, 0%, 0%, 0.19);
}

.pricing-wrap {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px;

  .feature-card {
    width: 300px;
    height: 600px;
    background-color: #fff;
    border-radius: 3px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .feature-card-middle {
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
    }

    &.is-pricing {
      border: 1px solid #e3e3e3;
      border-radius: 6px;
      -webkit-box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);
      box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);
      margin: 8px;
      padding: 20px;
      height: 600px;
      p {
        padding: 0 0 16px 0;
        color: #999;
      }
      .price {
        position: relative;
        font-weight: 700;
        font-size: 2.4rem;
        color: #444F60;
      }
      img {
        display: block;
        max-width: 160px;
        margin: 0 auto 0 auto;
      }
    }
  }
}




/* line 602, src/assets/scss/pages/_pages-landing-kit5.scss */
.quick-signup {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 40px;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2)
}
