<%= form_tag(company_contact_us_path, local: true) do %>
  <div class="section">
    <div class="container">
      <!-- Title -->
      <div class="section-title-wrapper has-text-centered">
        <h3 class="subtitle is-2"><%= t('contact.subject') %></h3>
      </div>
      <div class="columns">
        <div class="column is-6">
          <!-- Contact form -->
          <div class="contact-form">
            <form>
              <div class="columns is-multiline">
                <div class="column is-6">
                  <div class="control">
                    <label><%= t('contact.form.first_name') %></label>
                    <%= text_field(:contact, :name, {class: "input is-medium"}) %>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="control">
                    <label><%= t('contact.form.last_name') %></label>
                    <input class="input is-medium" type="text">
                  </div>
                </div>
                <div class="column is-6">
                  <div class="control">
                    <label><%= t('contact.form.email') %> *</label>
                    <%= text_field(:contact, :email, {class: "input is-medium"}) %>
                  </div>
                </div>
                <div class="column is-6">
                  <div class="control">
                    <label><%= t('contact.form.organisation') %> </label>
                    <%= text_field(:contact, :organisation, {class: "input is-medium"}) %>
                  </div>
                </div>
                <div class="column is-12">
                  <div class="control">
                    <label><%= t('contact.form.message') %> *</label>
                    <%= text_area(:contact, :body, rows: 4, class: "textarea") %>
                  </div>
                </div>
              </div>
              <div class="submit-wrapper">
                <%= submit_tag t('welcome.contact_us'), :class => "button bg-primary-5 has-shadow is-margin-auto" %>

              </div>
            </form>
          </div>
        </div>
        <div class="column is-5 is-offset-1">
          <!-- Contact info tabs -->
          <div class="contact-toggler">
            <ul class="tabbed-links">
              <li data-contact="contact_by_email" class="is-active">Email</li>
              <li data-contact="contact_by_location">Location</li>
            </ul>
            <div class="contact-blocks">
              <!-- Tab content -->
              <div id="contact_by_email" class="contact-block animated preFadeInUp fadeInUp ">
                <div class="contact-icon">
                  <% cache "icon-mail" do %>
                    <%= render_icon("icon-mail") %>
                  <% end %>
                </div>
                <div class="contact-info">
                  <a href="mailto:fathallah.houssem@gmail.com">Contactez nous</a>
                </div>
              </div>
              <!-- Tab content -->
              <div id="contact_by_location" class="contact-block animated preFadeInUp fadeInUp is-hidden">
                <div class="contact-icon">
                  <% cache "icon-location-pin" do %>
                    <%= render_icon("icon-location-pin") %>
                  <% end %>
                </div>
                <div class="contact-info">
                  <span></span>
                  <span> Sousse, Tunisie </span>
                </div>
              </div>
            </div>
            <!-- Illustration -->
            <img style="width: 400px" src="<%= asset_path('illustrations/professional/undraw_best_place_r685.svg') %>" alt="">
          </div>
        </div>
      </div>
    </div>
<% end %>