<style>
  .footer {
    padding-bottom: 3rem;
  }

  .app-mobile-link {
    padding-top: 2rem;

  }

  .app-mobile-link a {

  }
</style>
<footer class="footer footer-out">
  <div class="container">
    <div class="columns">
      <div class="column">
        <%= render 'partials/footer_brand' %>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3><%= t('footer.product_links.product') %></h3>
          </div>
          <ul class="link-list">

            <li>
              <%= link_to(company_features_path) do %>
                <%= t('footer.product_links.request_features') %>
              <% end %>
            </li>
            <li>
              <%= link_to(company_pages_path('roadmap')) do %>
                <%= t('footer.product_links.our_roadmap') %>
              <% end %>
            </li>
            <li>
              <%= link_to(company_pages_path('contact')) do %>
                <%= t('footer.guide_links.contact') %>
              <% end %>
            </li>
            <%= link_to(company_pages_path('why-us')) do %>
              <%= t('footer.product_links.why_choose_us') %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Guide</h3>
          </div>
          <ul class="link-list">


            <li>
              <%= link_to(guide_pages_path('user')) do %>
                <%= t('footer.guide_links.user') %>
              <% end %>
            </li>

            <% if (current_user && !current_user.is_doctor? && !current_user.is_admin?) || (!current_user) %>
              <li>
                <%= link_to(guide_pages_path('professional')) do %>
                  <%= t('footer.guide_professional') %>
                <% end %>
              </li>
            <% end %>

            <li><a href="#"><%= t('footer.guide_links.security_and_data') %></a></li>

            <li>
              <%= link_to(company_pages_path('faq')) do %>
                <%= t('FAQ') %>
              <% end %></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Blogroll</h3>
          </div>
          <ul class="link-list">
            <li><a href="#">Latest News</a></li>
            <li><a href="#">Tech articles</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Follow Us</h3>
          </div>
          <ul class="link-list social-links color-support-red-5">
            <li>
              <a href="https://twitter.com/#">
                Twitter
              </a></li>
            <li><a href="https://linkedin.com/#">
              Linkedin
            </a></li>
            <li>
              <a href="https://github.com/#">
                Github
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container has-text-centered m-t-15 app-mobile-link">
    <%= link_to(company_pages_path('telehealth'), class: 'color-support-red-6 m-l-15') do %>
      <%= t('footer.guide_links.telemedicine') %>
    <% end %>
    <%= link_to(company_pages_path('mobile-app'), class: 'color-support-red-6 m-l-15') do %>
      <%= t('footer.guide_links.mobile_app') %>
    <% end %>
  </div>
</footer>
