<style>
  .footer-in .footer-in__links a {
    display: inline-block;
    font-size: 12px;
    margin: .25rem .5rem ;
  }

  .footer-in {
    padding: 0;
  }
    .footer-in .brand{
      font-size: 14px;
    }
</style>
<footer class="footer-in footer">
  <div class="has-text-centered footer-in__links">

    <%= link_to(company_pages_path('security-and-data')) do %>
      <%= t('footer.guide_links.security_and_data_protection') %>
    <% end %>
    <%= link_to(company_features_path) do %>
      <%= t('footer.product_links.request_features') %>
    <% end %>
    <%= link_to(company_pages_path('contact')) do %>
      <%= t('Contact') %>
    <% end %>
    <%= link_to(company_pages_path('roadmap')) do %>
      <%= t('footer.product_links.our_roadmap') %>
    <% end %>
    <%= link_to(guide_pages_path('professional')) do %>
      <%= t('Guide') %>
    <% end %>
    <%= link_to(company_pages_path('faq')) do %>
      <%= t('FAQ') %>
    <% end %>

    <%= link_to(company_pages_path('team')) do %>
      <%= t('Team') %>
    <% end %>
  </div>
  <div class="has-text-centered brand">
    <%= render 'partials/footer_brand' %>
  </div>

</footer>
<!--/footer-->