<nav class="navbar main-navbar is-transparent no-shadow"
     role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        Bloosa
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu is-static">
      <div class="navbar-end">
        <% if current_user.is_admin? %>
          <%= link_to(admin_root_path, {:class => "navbar-item"}) do %>
            Admin Dashboard
          <% end %>
        <% end %>
        <% if current_user.is_doctor? %>
          <%= link_to(professional_dashboard_path, {:class => "navbar-item"}) do %>
            Doctor Dashboard
          <% end %>
        <% end %>
        <%= link_to(appointments_path, {:class => "navbar-item"}) do %>
          <%= t('appointments') %>
        <% end %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-dots-horizontal'} %>
          </a>

          <div class="navbar-dropdown  is-right">

            <%= link_to(appointments_path, :class => "navbar-item") do %>
              <%= t('app.my_appointments') %>
            <% end %>
            <hr class="navbar-divider">

            <%= link_to(company_pages_path('security-and-data'), :class => "navbar-item") do %>
              <%= t('footer.guide_links.security_and_data_protection') %>
            <% end %>
            <%= link_to(company_pages_path('contact'), :class => "navbar-item") do %>
              <%= t('Contact') %>
            <% end %>
            <%= link_to(company_pages_path('team'), :class => "navbar-item") do %>
              <%= t('Team') %>
            <% end %>
            <%= link_to(company_pages_path('documentation'), :class => "navbar-item") do %>
              <%= t('Documentation') %>
            <% end %>
            <%= link_to(company_pages_path('faq'), :class => "navbar-item") do %>
              <%= t('FAQ') %>
            <% end %>
            <hr class="navbar-divider">

            <%= link_to(destroy_user_session_path, :method => :delete, :class => "navbar-item") do %>
              Log out
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>