<nav class="navbar main-navbar is-transparent no-shadow"
     <% if clone %>
     id="navbar-clone"
     <% end %>
     role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a href="<%= root_path %>" title="Findoctor" class="navbar-item">
        Bloosa
      </a>

    </div>

    <div id="navbar-menu" class="navbar-menu is-static">


      <div class="navbar-end">

        <%= link_to professional_welcome_path, class: 'navbar-item' do %>
          <span>
              <%= t('welcome.i_am_doctor') %>
          </span>
        <% end %>
        <% if Rails.env.development? %>

          <%= link_to new_user_session_path, class: 'navbar-item' do %>
          <span class="bg-primary-5 button rounded">
              <%= t('account.sign_in') %>
          </span>
          <% end %>

          <%= link_to new_user_registration_path, class: 'navbar-item' do %>
         <span class="bg-support-red-6 button rounded">
               <%= t('Sign up') %>
                    </span>

          <% end %>
        <% else %>
          <%= link_to company_pages_path('contact'), class: 'navbar-item' do %>
         <span class="bg-primary-5 button rounded">
               <%= t('footer.guide_links.contact') %>
                    </span>

          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>