<script>
    window.appConfig = {
        baseApi: '/api/v1/',
        locale: '<%= I18n.locale %>'
    };
</script>
<script async src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script async src="https://unpkg.com/scrollreveal"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>