<div>
  <h1><%= t("account.reset_password") %></h1>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
    <%= f.error_notification %>
    <div class="form-group">
      <%= f.input :email, required: true, autofocus: true, :input_html => {class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.button :submit, t("devise.passwords.send_instructions"), class: 'btn_1' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>