<%= f.fields_for :doctor_profile do |doctor_form| %>

  <div class="form-group">
    <label><%= t('Zip Code') %>*</label>
    <%= doctor_form.text_field :zip_code,
                               required: true,
                               placeholder: t("Zip Code"),
                               label: false,
                               class: 'form-control' %>
    <label><%= t('Full Address') %>*</label>
    <%= doctor_form.text_field :full_address,
                               required: true,
                               placeholder: t('Full Address'),
                               label: false,
                               class: 'form-control' %>
  </div>

  <div class="form-group">
    <label><%= t('Street') %>*</label>
    <%= doctor_form.text_field :street,
                               required: true,
                               placeholder: t("Street"),
                               label: false,
                               class: 'form-control' %>
  </div>

  <div class="form-group">
    <label><%= t('Country') %>*</label>
    <%= doctor_form.select(:country_id, options_for_select(Country.all.map {|s| [s.name, s.id]}), {}, {:class => 'form-control'}) %>
  </div>

  <div class="form-group">
    <label><%= t('City') %>*</label>
    <%= doctor_form.select(:city_id, options_for_select(City.all.map {|s| [s.name, s.id]}), {}, {:class => 'form-control'}) %>
    </div>

<% end %>