<div class="bg_color_2">
  <div class="container margin_60_35">
    <div id="login-2">
      <h2><%= t('Sign up') %></h2>
      <%= simple_form_for(@profile, url: doctor_register_as_professional_path) do |f| %>
        <%= render "doctor/account/doctor_profile_form", f: f %>
        <div class="form-group text-center add_top_30">
          <%= f.button :submit, "Sign up", class: 'btn_1' %>
        </div>
      <% end %>
    </div>
  </div>
</div>