<div id="hero_register">
  <div class="container margin_120_95">
    <div class="row">
      <div class="col-lg-6">
        <h1>It's time to find you!</h1>
        <div class="box_feat_2">
          <i class="pe-7s-shield"></i>
          <h3>Security </h3>
          <p>Eos eu epicuri eleifend suavitate, te primis placerat suavitate his. Nam ut dico intellegat reprehendunt,
            everti audiam diceret in pri, id has clita consequat suscipiantur.</p>
        </div>
        <div class="box_feat_2">
          <i class="pe-7s-shield"></i>
          <h3>Security </h3>
          <p>Eos eu epicuri eleifend suavitate, te primis placerat suavitate his. Nam ut dico intellegat reprehendunt,
            everti audiam diceret in pri, id has clita consequat suscipiantur.</p>
        </div>
      </div>
      <!-- /col -->
      <div>
        <div class="box_form">
          <%= simple_form_for(resource, as: resource_name, url: professional_registration_path) do |f| %>
            <%= f.error_notification %>
            <%= f.fields_for :user_profile do |profile_form| %>
              <div class="row">
                <div class="fields">
                  <div>
                    <label class="label"><%= t('Name ') %></label>
                    <%= profile_form.text_field(:name, {:placeholder => "First Name", :autofocus => true, :class => 'form-control'}) %>
                  </div>
                </div>
                <div>
                  <div class="field">
                    <label class="label"><%= t('Last name ') %></label>
                    <%= profile_form.text_field :last_name, autofocus: true, :placeholder => "First Name", class: 'form-control' %>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <label><%= t('Email') %></label>
                <%= f.input :email, autofocus: true, placeholder: t("Your email address"), label: false, :input_html => {class: 'form-control'} %>
              </div>
              <div class="form-group">
                <label><%= t('Password') %></label>
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "Your password", label: false, :input_html => {class: 'form-control'} %>
              </div>
              <div class="form-group">
                <label><%= t('Confirm password') %></label>
                <%= f.input :password_confirmation, required: true, placeholder: t("Confirm password"), label: false, :input_html => {class: 'form-control'} %>
              </div>
              <div class="form-group">
                <label><%= t('doctor.form.Address') %>*</label>
                <%= profile_form.text_field :address, required: true, placeholder: t('doctor.form.Address'), label: false, class: 'form-control' %>
              </div>
              <div class="form-group">
                <label><%= t("doctor.form.Zip code") %>*</label>
                <%= profile_form.text_field :zip_code, required: true, placeholder: t("doctor.form.Zip code"), label: false, class: 'form-control' %>
              </div>

              <div class="form-group">
                <label><%= t("doctor.form.Zip code") %>*</label>
                <%= profile_form.text_field :zip_code, required: true, placeholder: t("doctor.form.Zip code"), label: false, class: 'form-control' %>
              </div>



              <%= render "professional/account/doctor_profile_form", f: f %>


              <div class="form-group text-center add_top_30">
                <%= f.button :submit, "Sign up", class: 'btn_1' %>
              </div>
              <div id="pass-info" class="clearfix"></div>
              <div class="checkbox-holder text-left">
                <div class="checkbox_2">
                  <input type="checkbox" value="accept_2" id="check_2" name="check_2">
                  <label for="check_2"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
                </div>
              </div>

              </div>
              <p class="text-center">

                <%= render "devise/shared/links" %>
                <small>Has voluptua vivendum accusamus cu. Ut per assueverit temporibus dissentiet. Eum no atqui putant
                  democritum, velit nusquam sententiae vis no.
                </small>
              </p>
            <% end %>
          <% end %>
          </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /register -->
</div>
