.month-calendar {
  width: 100%;
  td {
    text-align: center;
  }
  td:not(.header) {
    height: 50px;
  }
}

.calendar {
  .in-event {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    opacity: .4;
  }
  .month {
    margin: auto;
    td {
      position: relative;
      font-size: 13px;
      padding: 5px;
      text-align: center;
    }
  }
}