.menu {
  .tag {
    font-size: 9px !important;
  }
  a {
    display: flex;
    align-items: center;
    color: hsl(212, 20%, 13%);
    &.disabled {
      &, * {
        color: #c6c8ca;
      }
    }
    &:not(.disabled) {
      span:not(.tag) {
        color: hsl(212, 20%, 13%);
      }
      .feather {

        color: hsl(212, 20%, 68%)
      }
    }
    .feather {
      margin: 0 6px;
      width: 18px;
      height: 18px;
    }
  }
}
