
.vault-title__container {
  position: relative;
  height: 77px;
  border: none;
  overflow: hidden;
  .title {
    z-index: 1;
    color: white;
    position: relative;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
}