<style>
  #block_form > div {
    margin: auto;
    max-width: 450px;
    padding: 1rem;
  }
</style>
<div id="block_form">
  <div>

    <div>
      <h3 class="title is-4"><%= t('admin.block_professional_title') %></h3>
      <label>
        <%= @user.email %>
      </label>
      <% unless @errors.nil? %>
        <% @errors.each do |key, error| %>
          <span class="has-text-danger"><%= key %>  : <%= error %></span> <br/>
        <% end %>
      <% end %>
      <%= simple_form_for(:professional_block_account_history, url: block_account_admin_professional_path, local: true) do |f| %>
        <div class="field">
          <div class="control">
            <%= f.input :blocking_reason, as: :text, input_html: {class: 'textarea'} %>
          </div>
        </div>
        <%= f.submit t('Submit'), class: 'button is-danger is-small' %>
        <%= link_to admin_professionals_path do %>
          <button class="button is-small">
            <%= t('Cancel') %>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>