<%= form_tag admin_professionals_path, method: :get do %>
  <%= text_field_tag :q, @query %>
  <%= submit_tag t("form.search"), name: nil %>
<% end %>
<table class="table is-striped">
  <thead>
  <tr>
    <td><%= t('Email') %></td>
    <td><%= t('First Name') %></td>
    <td><%= t('Last name') %></td>
    <td><%= t('Address') %></td>
    <td><%= t('STATUS') %></td>
    <td><%= t('SPECIALITY') %></td>
    <td>#</td>
    <td>block</td>
  </tr>
  </thead>
  <% @doctors.each do |doctor| %>
    <tr>
      <td> <%= doctor.user.email %></td>
      <td> <%= doctor.user.user_profile.last_name %></td>
      <td> <%= doctor.user.user_profile.name %></td>
      <td> <%= doctor.address %></td>
      <td> <%= doctor.doctor_profile_status.status %></td>
      <td> <%= doctor.specialities.length %></td>
      <td><%= link_to "details", admin_professional_path(doctor.user) %></td>
      <td>
        <% if !doctor.user.is_professional_blocked? %>
          <%= link_to(block_account_admin_professional_path(doctor.user), class: 'is-danger button is-small') do %>
            Block
          <% end %>
        <% else %>
          <%= form_for(unblock_account_admin_professional_path(doctor.user), class: 'is-sucess button is-small') do %>
            Activer le compte
          <% end %>
        <% end %>

      </td>
    </tr>

  <% end %>
</table>