<!-- Breadcrumbs-->
<h1>requests </h1>
<!-- Icon Cards-->
<% @doctor_profile.files.each do |file| %>
  <li>
    <%= link_to file.filename, rails_blob_path(file, disposition: 'attachment') %>
  </li>
<% end %>

<%= form_for(@doctor_profile, url: confirm_request_admin_professional_path) do |f| %>
  <textarea name="message"></textarea>
  <%= f.submit 'Accept profile', data: {confirm: 'Your confirm message'} %>
<% end %>


<%= form_for(@doctor_profile, url: decline_request_admin_professional_path) do |f| %>
  <textarea name="message"></textarea>
  <%= f.submit 'Decline', data: {confirm: 'Your confirm message'} %>
<% end %>