<h1 class="title is-6"><%= t('doctor.dashboard.overview') %></h1>

<!--<div class="box box-no-shadow" style="background: #f8e5e9">
  <h3 class="title color-support-red-4">Welcome back </h3>
</div>
-->

<div class="columns is-multiline">
  <div class="column is-6">
    <div class="box">
      <div class="heading">Consultations dernière semaine
        <span class="tag is-success">1 Ms</span>
        <span class="tag is-success">3 Ms</span>
        <div class="select">
          <select>
            <option>Filtrer</option>
            <option>Select dropdown</option>
            <option>With options</option>
          </select>
        </div>
      </div>
      <div class="title">78% ↑</div>
      <div id="appointments_chart">
        <trend
          :data="[0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0]"
          :gradient="['#921111', '#E66B6B', '#FACCCC']"
          auto-draw
          smooth>
        </trend>
      </div>
      <div class="level">
        <div class="level-item">
          <div class="">
            <div class="heading">Total</div>
            <div class="title is-5">37</div>
          </div>
        </div>
        <div class="level-item">
          <div class="">
            <div class="heading has-text-danger">Annulées</div>
            <div class="title is-5">12</div>
          </div>
        </div>
        <div class="level-item">
          <div class="">
            <div class="heading has-text-success">Confirmées</div>
            <div class="title is-5">25</div>
          </div>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="heading">Feedback</div>
      <div class="title">34% ↑</div>

      <div id="feedback_chart">
        <trend
          :data="[0, 2, 5, 9, 15, 30, 3, 15, 0, 30, 1, 12, 2, 9, 0]"
          :gradient="['#6fa8dc', '#42b983', '#2c3e50']"
          auto-draw
          smooth>
        </trend>
      </div>


      <div class="level">
        <div class="level-item">
          <div class="">
            <div class="heading">Positive</div>
            <div class="title is-5">1790</div>
          </div>
        </div>
        <div class="level-item">
          <div class="">
            <div class="heading">Negative</div>
            <div class="title is-5">310</div>
          </div>
        </div>
        <div class="level-item">
          <div class="">
            <div class="heading">Pos/Neg %</div>
            <div class="title is-5">85.2% / 14,7%</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-6">
    <div class="box box-no-shadow">
      <div class="heading">Vos consultations cette semaine
        <span class="title subtitle is-pulled-right"></span>
      </div>
      <div class="bar-charts">
        <% Date::ABBR_DAYNAMES.rotate.each_with_index do |day, index| %>
          <div>
            <label class="has-text-grey is-size-7">
              <%= t('date.abbr_day_names')[index].capitalize %>
            </label>
            <div class="bar">
              <% (1..rand(1..10)).each do |n| %>
                <% if index > 0 %>
                  <div class="bar-item" style="background: #<%= "%06x" % rand(0..0xffffff) %>"></div>
                <% end %>
              <% end %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
<script src=//unpkg.com/vuetrend defer></script>
<script>
    document.addEventListener("turbolinks:load", function () {
        new Vue({el: '#feedback_chart'});
        new Vue({el: '#appointments_chart'});
    });

</script>