Your pofile is not activated , your request to confirm profile is pending

<%= simple_form_for :search, url: doctor_dashboard_request_confirmation_path, method: "POST", html: {class: 'form-inline'} do |f| %>
  <%= f.submit "Resend Request", class: "btn btn-primary" %>
<% end %>
<%= link_to(destroy_user_session_path, :method => :delete) do %>
  Log out
<% end %>