<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1> Contact de  <%= @from %></h1>
<p>
  Un utilisateur vient de vous envoyer ce message :
  <code>
    <%= @body %>
  </code>

</p>
<p>
  Merci de lui répondre dans les prochains délais
</p>
<p>Sincerly</p>
</body>
</html>