<h1> New contact from  <%= @from %> with email : <%= @email %> </h1>
<p>
  Message
  <code>
    <%= @body %>
  </code>

</p>
<p>
  Merci de lui répondre dans les prochains délais
</p>
<p>Sincerely</p>