<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1> Contact de  <%= @from %></h1>
<p>
  Un utilisateur <<%= @name %>> vient de demander une fonctionnalité :
  <code>
    <h4>
      <%= @feature %></h4>
    <p>
      <%= @feature_details %>
    </p>
  </code>

</p>
<p>
  Merci de lui répondre dans les prochains délais
</p>
<p>Sincerly</p>
</body>
</html>