<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Doctor account request for user  <%= @user.user_profile.name %></h1>
<p>
  The user within email  <%= @user.email %> request for a doctor account.<br>
</p>
<p>
  Please connect as admin to accept/decline
</p>
<p>Sincerly</p>
</body>
</html>