Request for doctor account from  <%= @user.email %>
===============================================
The user <%= user.email %> request a doctor account
Please login as admin and then accept/decline.

Sincerly,