<%= simple_form_for([:professional, :dashboard, @professional_holiday]) do |f| %>
  <% if @professional_holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professional_holiday.errors.count, "error") %> prohibited this holiday from
        being saved:</h2>

      <ul>
        <% @professional_holiday.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field-body">
    <div class="field">
      <%= f.date_field :start_at, {class: 'input'} %>
    </div>

    <div class="field">
      <%= f.date_field :end_at, {class: 'input'} %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
