<style>
  .event-indicator{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    margin-left: -18px;
    margin-top: 4px;
    opacity: .4;
  }
</style>
<div>

  <%= link_to t('New'), new_professional_dashboard_professional_holiday_path, class: "button is-link is-small is-pulled-right" %>

  <h1>Holidays</h1>

</div>
<hr/>
<table>
  <thead>
  <tr>

    <td>
      <%= t('doctor.dotor_holidays.index_display.start_at') %>
    </td>

    <td>
      <%= t('doctor.dotor_holidays.index_display.end_at') %>
    </td>
  </tr>
  </thead>
  <tbody>
  <% @holidays.each do |entry| %>
    <tr>
      <td>
        <div class="event-indicator" style="background: <%= '#' + gen_color_from_int(entry.start_at.yday) %>"></div>
        <%= entry.start_at %>
      </td>
      <td>

        <%= entry.end_at %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% holidays = @holidays.map {|e| {:id => e.id, :range => (e.start_at..e.end_at)}} %>
<%= render :partial => 'partials/calendar', :locals => {range: @range, intervals: holidays} %>

