<nav class="navbar main-navbar is-transparent no-shadow"
     <% if clone %>
     id="navbar-clone"
     <% end %>
     role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a href="/professional/welcome" class="navbar-item">
        <%= render 'partials/logo', :locals => {:pro => true} %>&nbsp;<span class="tag pro-logo">Pro</span>
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu is-static">
      <div class="navbar-end">
        <a href="#doctor_features" class="navbar-item is-secondary">
          <%= t('doctor.welcome.header.produit') %>
        </a>
        <a href="#pricing" class="navbar-item is-secondary">
          <%= t('doctor.welcome.header.pricing') %>
        </a>
        <%= link_to(company_pages_path('security-and-data'), :class => "navbar-item is-secondary") do %>

          <%= t('doctor.welcome.header.security') %>
        <% end %>
        <% if Rails.env.development? %>
          <%= link_to new_user_session_path, class: 'navbar-item' do %>
          <span class="button bg-primary-5 rounded ">
              <%= t('account.sign_in') %>
          </span>
          <% end %>

          <%= link_to professional_new_registration_path, class: 'navbar-item' do %>
        <span class="button  rounded">
                         <%= t('account.doctor.sign_up') %>
                    </span>
          <% end %>
        <% else %>
          <%= link_to company_pages_path('contact'), class: 'navbar-item' do %>
         <span class="bg-primary-5 button rounded">
               <%= t('footer.guide_links.contact') %>
                    </span>

          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</nav>