
<div id="page">
  <!-- /breadcrumb -->
  <div class="margin_60_35">
    <div class="container">
      <div class="main_title">
        <h1>Pricing Tables</h1>
        <p>Version with monthly/year switcher</p>
      </div>
    </div>

    <div class="pricing-container cd-has-margins">
      <div class="pricing-switcher">
        <p class="fieldset">
          <input type="radio" name="duration-2" value="monthly" id="monthly-2" checked>
          <label for="monthly-2">Monthly</label>
          <input type="radio" name="duration-2" value="yearly" id="yearly-2">
          <label for="yearly-2">Yearly</label>
          <span class="switch"></span>
        </p>
      </div>
      <!--/pricing-switcher -->
      <ul class="pricing-list bounce-invert">
        <li>
          <ul class="pricing-wrapper">
            <li data-type="monthly" class="is-visible">
              <header class="pricing-header">
                <h2>Basic</h2>

                <div class="price">
                  <span class="currency">$</span>
                  <span class="price-value">30</span>
                  <span class="price-duration">mo</span>
                </div>
              </header>
              <!-- /pricing-header -->
              <div class="pricing-body">
                <ul class="pricing-features">
                  <li><em>One Time</em> Fee</li>
                  <li><em>1</em> User</li>
                  <li><em>Lifetime</em> Availability</li>
                  <li><em>Non</em> Featured</li>
                  <li><em>30 days</em> Listing</li>
                  <li><em>24/7</em> Support</li>
                </ul>
              </div>
              <!-- /pricing-body -->
              <footer class="pricing-footer">
                <a class="select-plan" href="#0">Select</a>
              </footer>
            </li>
            <li data-type="yearly" class="is-hidden">
              <header class="pricing-header">
                <h2>Basic</h2>

                <div class="price">
                  <span class="currency">$</span>
                  <span class="price-value">320</span>
                  <span class="price-duration">yr</span>
                </div>
              </header>
              <!-- /pricing-header -->
              <div class="pricing-body">
                <ul class="pricing-features">
                  <li><em>One Time</em> Fee</li>
                  <li><em>1</em> User</li>
                  <li><em>Lifetime</em> Availability</li>
                  <li><em>Non</em> Featured</li>
                  <li><em>30 days</em> Listing</li>
                  <li><em>24/7</em> Support</li>
                </ul>
              </div>
              <!-- /pricing-body -->
              <footer class="pricing-footer">
                <a class="select-plan" href="#0">Select</a>
              </footer>
            </li>
          </ul>
          <!-- /pricing-wrapper -->
        </li>
        <li class="popular">
          <ul class="pricing-wrapper">
            <li data-type="monthly" class="is-visible">
              <header class="pricing-header">
                <h2>Popular</h2>
                <div class="price">
                  <span class="currency">$</span>
                  <span class="price-value">60</span>
                  <span class="price-duration">mo</span>
                </div>
              </header>
              <!-- /pricing-header -->
              <div class="pricing-body">
                <ul class="pricing-features">
                  <li><em>One Time</em> Fee</li>
                  <li><em>3</em> User</li>
                  <li><em>Lifetime</em> Availability</li>
                  <li><em>Non</em> Featured</li>
                  <li><em>30 days</em> Listing</li>
                  <li><em>24/7</em> Support</li>
                </ul>
              </div>
              <!-- /pricing-body -->
              <footer class="pricing-footer">
                <a class="select-plan" href="#0">Select</a>
              </footer>
            </li>
            <li data-type="yearly" class="is-hidden">
              <header class="pricing-header">
                <h2>Popular</h2>

                <div class="price">
                  <span class="currency">$</span>
                  <span class="price-value">630</span>
                  <span class="price-duration">yr</span>
                </div>
              </header>
              <!-- /pricing-header -->
              <div class="pricing-body">
                <ul class="pricing-features">
                  <li><em>One Time</em> Fee</li>
                  <li><em>3</em> User</li>
                  <li><em>Lifetime</em> Availability</li>
                  <li><em>Non</em> Featured</li>
                  <li><em>30 days</em> Listing</li>
                  <li><em>24/7</em> Support</li>
                </ul>
              </div>
              <!-- /pricing-body -->
              <footer class="pricing-footer">
                <a class="select-plan" href="#0">Select</a>
              </footer>
            </li>
          </ul>
          <!-- /cd-pricing-wrapper -->
        </li>
        <li>
          <ul class="pricing-wrapper">
            <li data-type="monthly" class="is-visible">
              <header class="pricing-header">
                <h2>Premier</h2>
                <div class="price">
                  <span class="currency">$</span>
                  <span class="price-value">90</span>
                  <span class="price-duration">mo</span>
                </div>
              </header>
              <!-- /pricing-header -->
              <div class="pricing-body">
                <ul class="pricing-features">
                  <li><em>One Time</em> Fee</li>
                  <li><em>5</em> User</li>
                  <li><em>Lifetime</em> Availability</li>
                  <li><em>Non</em> Featured</li>
                  <li><em>30 days</em> Listing</li>
                  <li><em>24/7</em> Support</li>
                </ul>
              </div>
              <!-- /pricing-body -->
              <footer class="pricing-footer">
                <a class="select-plan" href="#0">Select</a>
              </footer>
            </li>
            <li data-type="yearly" class="is-hidden">
              <header class="pricing-header">
                <h2>Premier</h2>

                <div class="price">
                  <span class="currency">$</span>
                  <span class="price-value">950</span>
                  <span class="price-duration">yr</span>
                </div>
              </header>
              <!-- /pricing-header -->
              <div class="pricing-body">
                <ul class="pricing-features">
                  <li><em>One Time</em> Fee</li>
                  <li><em>5</em> User</li>
                  <li><em>Lifetime</em> Availability</li>
                  <li><em>Non</em> Featured</li>
                  <li><em>30 days</em> Listing</li>
                  <li><em>24/7</em> Support</li>
                </ul>
              </div>
              <!-- /pricing-body -->
              <footer class="pricing-footer">
                <a class="select-plan" href="#0">Select</a>
              </footer>
            </li>
          </ul>
          <!-- /pricing-wrapper -->
        </li>
      </ul>
      <!-- /pricing-list -->
    </div>
    <!-- /pricing-container -->
  </div>
  <!-- /margin_60_35 -->

  <div class="container margin_60_35">
    <div class="row">
      <div class="col-md-6">
        <div class="box_faq">
          <i class="icon_info_alt"></i>
          <h4>Porro soleat pri ex, at has lorem accusamus?</h4>
          <p>Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo posidonium
            necessitatibus. Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute legimus ne. Mea
            dicta facilisis eu.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box_faq">
          <i class="icon_info_alt"></i>
          <h4>Ut quo inani dolorem mediocritatem?</h4>
          <p>Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo posidonium
            necessitatibus. Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute legimus ne. Mea
            dicta facilisis eu.</p>
        </div>
      </div>
    </div><!-- /row  -->
    <div class="row">
      <div class="col-md-6">
        <div class="box_faq">
          <i class="icon_info_alt"></i>
          <h4>Per sale virtute legimus ne?</h4>
          <p>Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo posidonium
            necessitatibus. Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute legimus ne. Mea
            dicta facilisis eu.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box_faq">
          <i class="icon_info_alt"></i>
          <h4>Mea in justo posidonium necessitatibus?</h4>
          <p>Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo posidonium
            necessitatibus. Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute legimus ne. Mea
            dicta facilisis eu.</p>
        </div>
      </div>
    </div><!-- /row  -->
  </div>
  <!-- /container -->
  <!-- /main -->

  <!--/footer-->
</div>