<% content_for :header do %>
  <%= render 'professional/welcome/navbar_out_doctor', clone: false %>
  <%= render 'professional/welcome/navbar_out_doctor', clone: true %>
<% end %>
<section class="hero is-fullheight-with-navbar is-default is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-5 is-offset-1 landing-caption">
          <h1 class="title is-1 is-bold is-spaced">
            <%= t('doctor.welcome.hero.title') %>
          </h1>
          <h2 class="subtitle is-5 is-muted">
            <%= t('doctor.welcome.hero.subtitle') %>
          </h2>

          <p>
            <% if Rails.env.development? %>
              <%= link_to new_user_session_path, class: 'button  has-shadow  rounded bg-primary-5' do %>
                <%= t('account.doctor.sign_up') %>
              <% end %>
              <a href="#contact_us" class="button bg-support-red-6 has-shadow rounded">
                watch demo
              </a>
            <% else %>
              <a href="#contact_us" class="button rounded bg-primary-5 has-shadow  rounded">
                <%= t('doctor.welcome.hero.contact_us') %>
              </a>
            <% end %>


          </p>
        </div>
        <div class="column is-5 is-offset-1">
          <figure class="image is-4by3">
            <img src="<%= asset_path('landing/doctor-landing.svg') %>" alt="Doctor">
          </figure>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="section is-medium" id="doctor_features">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2"> <%= t("doctor.welcome.features.title") %></h2>
      <h3 class="subtitle is-5 is-muted"><%= t("doctor.welcome.features.subtitle") %> </h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns is-multiline icon-list has-text-centered has-text-justified">
        <div class="column is-3 feature">
          <div class="has-text-centered">

            <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-location-pin'} %>

            <h4>Visiblité</h4>
            <p>Plus proche </p>
          </div>
        </div>
        <div class="column is-3 feature">
          <div class="has-text-centered">

            <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-security-check'} %>

            <h4>Sécurité</h4>
            <p> Zero knowledge </p>
          </div>
        </div>
        <div class="column is-3 feature">
          <div class="has-text-centered">
            <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-document-notes'} %>

            <h4>Partage des données</h4>
            <p>Chiffrement de bout en bout</p>
          </div>
        </div>
        <div class="column is-3 feature">
          <div class="has-text-centered">
            <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-phone-ring'} %>
            <h4>SMS</h4>
            <p>Notifications </p>
          </div>
        </div>

        <div class="column is-3 feature">
          <div class="has-text-centered">
            <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-brick'} %>
            <h4>Intégrations</h4>
            <p> Personnalisation et intégration avec d'autres systèmes</p>
          </div>
        </div>

        <div class="column is-3 feature">
          <div class="has-text-centered">
            <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-survey'} %>
            <h4>Suivi</h4>
            <p>Suivi des patients </p>
          </div>
        </div>
        <div class="column is-3 feature">
          <div class="has-text-centered">
            <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-umbrella'} %>
            <h4>Accessibilité</h4>
            <p>Compatible et accessible avec la majorité des navigateurs</p>
          </div>
        </div>

        <div class="column is-3 feature">
          <div class="has-text-centered">
            <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-notification'} %>

            <h4>Notifications</h4>
            <p>Restez toujours informé</p>
          </div>
        </div>
        <div class="column is-3 feature">
          <div class="has-text-centered">
            <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-calendar'} %>
            <h4>Vacances</h4>
            <p>Some feature text</p>
          </div>
        </div>
        <div class="column is-3 feature">
          <div class="has-text-centered">
            <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-clouds'} %>
            <h4>Cloud </h4>
            <p>7j/7 24h/4 </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="section is-medium is-relative welcome-full-background__container">

  <img class="welcome-full-background delay-10" data-animation="fadeInUp" src="https://images.unsplash.com/photo-1553356009-50faee7aa84c?ixlib=rb-1.2.1&auto=format&fit=crop&w=max&q=100">

  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2"><%= t('features.product.title') %></h2>
      <h3 class="subtitle is-5 is-muted"><%= t('features.product.subtitle') %></h3>
    </div>
    <br/>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="has-text-centered">
          <img class="pushed-image" src="<%= asset_path('illustrations/mockups/app-mockup.png') %>">
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section is-medium" id="pricing">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">Offres</h2>
      <h3 class="subtitle is-4 is-muted"><%= t('doctor.welcome.plans.choose_plan') %></h3>
      <h3 class="subtitle is-6 is-muted"><%= t('doctor.welcome.plans.start_free') %></h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="pricing-wrap columns is-multiline">
      <div class="feature-card is-pricing has-text-centered is-4-tablet">
        <h3 class="plan-name">Pro Cloud</h3>
        <div class="feature-card-middle is-flex ">
          <img src="<%= asset_path('illustrations/pricing/1.svg') %>" alt="">
          <div>
            <span class="price">50</span>
            <small class="has-text-weight-light is-small is-5">DT / mois</small>
          </div>

          <ul class="has-text-left p-l-10 m-t-10">
            <li> ✔ Gestion Rendez vous et patients</li>
            <li> ✔ Page profil public</li>
            <li> ✔ SMS et notifications</li>
            <li> ✔ Partage dossier medical chiffré</li>
            <li> ✔ Stockage chiffré</li>
            <li> ✔ Chiffrement bout en bout</li>
            <li> ✔ Télémédecine</li>
          </ul>
        </div>


      </div>
      <div class="feature-card is-pricing has-text-centered is-4-tablet">
        <h3 class="plan-name Pro ">On promise

        </h3>
        <small> [Produit + installation] (*)</small>
        <div class="feature-card-middle is-flex ">
          <img src="<%= asset_path('illustrations/pricing/2.svg') %>" alt="">
          <span class="has-text-danger">
            3000 <small class="has-text-weight-light is-small is-5">DT / an</small>
          </span>
          <ul class="has-text-left p-l-10 m-t-10">
            <li class="has-text-success"> ✔ Services Pro Cloud</li>
            <li> ✔ Hébérgé chez vous ...</li>
            <li> ✔ Habillage personalisé (Logos / Libellés)</li>
            <li> ✔ Mise à jour avec la version cloud</li>
          </ul>
          <br/>
          <div class="has-text-left m-t-5">
            <span class="tag is-warning">Option</span> Application mobile personnalisée à partir de
            <small class="has-text-weight-light is-small is-5">5000 dt</small>
          </div>
        </div>

        <%= link_to(company_pages_path('contact'), :class => "button is-fullwidth is-bold") do %>
          <%= t('footer.guide_links.contact') %>
        <% end %>
      </div>
      <div class="feature-card is-pricing has-text-centered is-4-tablet">
        <h3 class="plan-name has-text-weight-bold">Clinique / Centre médical et dentaire
        </h3>
        <div class="feature-card-middle is-flex ">
          <img src="<%= asset_path('illustrations/pricing/3.svg') %>" alt="">
        </div>
        <%= link_to(company_pages_path('contact'), :class => "button is-fullwidth is-bold") do %>
          <%= t('footer.guide_links.contact') %>
        <% end %>
      </div>
    </div>

    <p class="m-t-20 m-l-20 m-r-10">
      * Prix du produit, modification logo et installation seulement hors prix d'autres composants : nom de domaine,
      certificat SSL, serveurs, stockage, email, serveur sms
      <br/>
      Systèmes d'exploitation : Ubuntu LTS 16.10 / Ubuntu LTS 18.04 / Ubuntu Server 18.04 LTS et Docker
      .
      <br/>
      Si vous voulez le package complet <%= link_to(company_pages_path('contact'), :class => "is-bold") do %>
        <%= t('footer.guide_links.contact') %>
      <% end %>
    </p>
  </div>

</section>



<section class="section is-medium" id="pack_brand">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">Votre pack <b>On promise </b></h1>
        <h3 class="subtitle is-4 is-muted">Votre cabinet digitale en moins de 7 jours</h3>
        <div class="divider"></div>
      </div>
      <div class="column is-8 ">

        <!-- icon block -->
        <article class="media icon-box">
          <figure class="media-left">
            <p class="image">
              <img src="<%= asset_path('illustrations/icons/laptop-globe.svg') %>">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="has-text-weight-bold">Plus simple que jamais</span><br/>
                <span class="icon-box-text">En cloud, l'application est disponible 24h 7j/7j ....
              </span>
            </div>
          </div>
        </article>
        <!-- /icon block -->

        <!-- icon block -->
        <article class="media icon-box">
          <figure class="media-left">
            <p class="image">
              <img src="<%= asset_path('illustrations/icons/mobile-feed.svg') %>">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="has-text-weight-bold">Votre application mobile personalisée </span>
                <span class="icon-box-text">Une application mobile pour personaliser vos services. Contactez nous pour une démo </span>
              </p>
            </div>
          </div>
        </article>
        <!-- /icon block -->

        <!-- icon block -->
        <article class="media icon-box">
          <figure class="media-left">
            <p class="image">

              <img src="<%= asset_path('illustrations/icons/doc-sync.svg') %>">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="has-text-weight-bold">Chiffrement des données privées</span><br/>
                <span class="icon-box-text">Les fichiers et les informations liées à vos patients sont tous encryptés, seuls vous et vos patient peuvent accéder à ces données .</span>
              </p>
            </div>
          </div>
        </article>
        <!-- /icon block -->
      </div>
    </div>
  </div>
</section>



<%= render 'partials/contact' %>


<div id="auth-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>