<style>
  #contact_us > div {
    margin: auto;
    max-width: 450px;
    padding: 1rem;
  }
</style>
<div id="contact_us">
  <div>
    <div>
      <h3 class="title is-4"><%= t('company.features.request_features') %></h3>
      <% unless @errors.nil? %>
        <% @errors.each do |key, error| %>
          <span class="has-text-danger"><%= key %>  : <%= error %></span> <br/>
        <% end %>
      <% end %>
      <%= form_tag(company_features_path, local: true) do %>
        <div class="field">
          <label class="label"><%= t('feature.sender_name') %></label>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <%= text_field(:feature, :sender_name, {class: "input"}) %>
              </p>
              <p class="help">

              </p>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label"><%= t('feature.sender_email') %></label>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <%= text_field(:feature, :sender_email, {class: "input"}) %>
              </p>
              <p class="help">

              </p>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label"><%= t('feature.request_name') %></label>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <%= text_field(:feature, :feature, {class: "input"}) %>
              </p>
              <p class="help">

              </p>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label"><%= t('feature.details') %></label>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <%= text_area(:feature, :feature_details, rows: 5, class: "textarea") %>
              </p>
              <p class="help">

              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal has-text-centered">
          <%= submit_tag t('feature.form.request'), :class => "button bg-primary-5 has-shadow is-margin-auto" %>
        </div>
      <% end %>
    </div>
  </div>
</div>