<%= simple_form_for(@doctor_profile, url: {action: @tab}) do |f| %>

  <div class="container-fluid">
  <!-- /row-->
  <!-- /box_general-->
  <div class="field">
    <label class="label">Addresse</label>
    <p class="control">
      <%= text_field :doctor_profile, :full_address, {class: "input"} %>
    </p>
  </div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Ville</label>
        <div class="control">
          <div class="select">
            <%= f.collection_select(:city_id, City.order(:name_fr), :id, :name, {include_blank: t('city')}) %>
          </div>
        </div>
      </div>
    </div>
    <div class="field-body">
      <div class="field">
        <label class="label">Code postal</label>
        <div class="control">
          <%= text_field :doctor_profile, :zip_code, {class: "input"} %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= f.submit t('submit'), :type => 'submit', :class => 'button medium' %>
<% end %>