
<span class="app-notification is-warning">
        <% cache "icons_icon-notification" do %>
              <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-notification'} %>
            <% end %>
  Ces documents sont nécessaires  afin que vous puissiez proposer votre service. Il ne faut pas mettre des documents privée,
    pour toute document privées, merci d'utliser le service <%= link_to(professional_vault_path) do %><%= t('vault') %><% end %>
    </span>
<% @doctor_profile.files.each do |file| %>

  <div>

    <%= link_to rails_blob_path(file, disposition: "attachment") do %>
      <%= file.filename %>
    <% end %>
  </div>
<% end %>
<%= simple_form_for(@doctor_profile, url: {action: @tab}) do |f| %>


<% end %>