<%= simple_form_for(@doctor_profile, url: {action: @tab}) do |f| %>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Name</label>
        <p class="control">
          <%= text_field :user_profile, :name, {class: "input", value: @doctor_profile.user.profile.name} %>
        </p>
      </div>
      <div class="field">
        <label class="label">Last name</label>
        <p class="control">
          <%= text_field :user_profile, :last_name, {class: "input", value: @doctor_profile.user.profile.last_name} %>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Titre</label>
        <div class="control">
          <%= text_field :user_profile, :title, {class: "input", placeholder: "Docteur / Prof ...", value: @doctor_profile.user.profile.title} %>
        </div>
      </div>

      <div class="field">
        <label class="label">#TODO</label>
        <div class="control">
          <div class="select">
            <%= select_tag "user_profile[gender]", options_for_select(%w(M/Mme? M. Mme.)), {class: "select input"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit t('submit'), :type => 'submit', :class => 'button medium' %>
<% end %>