<%= simple_form_for(@doctor_profile, url: {action: @tab}) do |f| %>
<%= f.fields_for :user do |user_tfa_f| %>

    <h5 class="subtitle  is-6">Two factor authentification <%= link_to(company_pages_path('security-and-data')) do %> En
        savoir plus ?
      <% end %> </h5>
    <div class="field">
    <label class="label"><%= t('simple_form.labels.professional_block_account_history.tfa_activated') %></label>
    <%= user_tfa_f.input :otp_required_for_login, input_html: {class: 'checkbox reset-checkbox-form', type: 'checkbox', checked: current_user.otp_required_for_login}, label: false %>
  </div>

  <div class="field">
    <label class="label"><%= t('simple_form.labels.professional_block_account_history.tfa_via') %>
      <small> (* Pour le moment, bloosa supporte la double authentificatio via sms ou email</small>
      )</label>

    <%= user_tfa_f.input :two_factor_via, :collection => ['SMS', 'Authenticator (Google ...)', 'Universal'], selected: 1, label: false, input_html: {disabled: 'disabled', value: current_user.two_factor_via} %>
  </div>

  <div class="field">
    <label class="label"><%= t('simple_form.labels.professional_block_account_history.tfa_sms') %></label>

    <%= user_tfa_f.input :phone_number, label: false, input_html: {value: current_user.phone_number} %>
  </div>

<% end %>
<div class="actions">
  <%= f.submit t('Save'), :class => 'button is-primary' %>
  <%= link_to professional_dashboard_path, :class => "button is-default" do %>
    <%= t('cancel') %>
  <% end %>
</div>

<% end %>