<%= simple_form_for(@doctor_profile, url: {action: @tab}) do |f| %>
  <% @doctor_profile.specialities.each do |e| %>
    <div>
      <%= e.speciality.en_fr %>
    </div>
  <% end %>
  <small class="is-warning"> Attention, vous allez annuler tous vos rendez vous associés avec cette spec</small>

  <div class="">* Ctrl</div>
  <div class="container-fluid">
    <div class="field-body">
      <div class="field">

        <div class="select">

          <%= f.select :speciality_ids,
                       Speciality.all.collect {|p| [p.en_fr, p.id]},
                       {:prompt => t("Please select")},
                       {:multiple => true, :class => 'is-multiple'} %>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit t('submit'), :type => 'submit', :class => 'button medium' %>
<% end %>