<h1 class="title is-4">Edit profile</h1>
<div class="tabs">
  <ul>
    <li class="<%= get_tab_active_class(@tab == 'info'  || @tab == 'index' || @tab.nil?) %> %>">
      <%= link_to(professional_profile_path(tab: 'info')) do %>
        <%= t('info') %>
      <% end %>
    </li>
    <li class="<%= get_tab_active_class(@tab == 'address') %> %>">
      <%= link_to(professional_profile_path(tab: 'address')) do %>
        <%= t('address') %>
      <% end %>
    </li>
    <li class="<%= get_tab_active_class(@tab == 'specialities') %> %>">
      <%= link_to(professional_profile_path(tab: 'specialities')) do %>
        <%= t('Specialities & Curriculum') %>
      <% end %>
    </li>

    <li class="<%= get_tab_active_class(@tab == 'documents') %> %>">
      <%= link_to(professional_profile_path(tab: 'documents')) do %>
        <%= t('documents') %>
      <% end %>
    </li>
    <li class="<%= get_tab_active_class(@tab == 'security') %> %>">
      <%= link_to(professional_profile_path(tab: 'security')) do %>
        <%= t('Two factor authentification') %>
      <% end %>
    </li>
    <li class="<%= get_tab_active_class(@tab == 'account') %> %>">
      <%= link_to(professional_profile_path(tab: 'account')) do %>
        <%= t('nav.account') %>
      <% end %>
    </li>
  </ul>
</div>