<div class="container-fluid">

  <%= t("Document are required for you request, please provide us your job certification so we can verify ") %>
  <!-- /box_general-->
  <%= form_for @doctor_profile, url: {action: "confirm_profile_request"}, :html => {method: "post"} do |f| %>
    <div class="box_general padding_bottom">
      <div class="header_box version_2">
        <h2><i class="fa fa-file-text"></i>Documents</h2>
      </div>
      <div>

        <%= t('Keep hold in \'Ctrl\' to select multiple specialities') %>
        <%= f.select :speciality_ids,
                     Speciality.all.collect {|p| [p.en_fr, p.id]},
                     {:prompt => t("Please select")},
                     {:multiple => true} %>

      </div>
      <!-- /row-->
      <div class="row">
        <%= f.file_field :files, multiple: true %>
      </div>
      <!-- /row-->
    </div>
    <p>
      <%= f.submit t('form.upload'), :type => 'submit', :class => 'btn_1 medium' %>
    </p>

  <% end %>

</div>
