<h1 class="title"><%= t("account.sign_in") %></h1>
<!--<img src="<%#= asset_path 'illustrations/hero_bg_1.svg' %>" alt="">-->
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.input :email, autofocus: true, placeholder: t("devise.form.email_or_username"), label: false, :input_html => {class: 'is-medium'} %>
  </div>
  <div class="field">
    <%= f.input :password, placeholder: t("devise.form.password"), label: false, :input_html => {class: 'is-medium'} %>
  </div>

  <div class="field">
    <%= f.input :remember_me, input_html: {class: 'reset-checkbox-form'}, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div>
    <%= link_to(new_password_path(resource_name)) do %>
      <small><%= t('devise.form.forgot_password') %></small>
    <% end %>
  </div>
  <div class="control has-text-centered">
    <%= f.button :submit, t("devise.form.login_in"), class: 'btn button  is-rounded rounded bg-primary-5  ' %>

  </div>
  <br/>
  <p class="text-center link_bright"><%= t('account.do_not_have_a_new_account') %>

    <%= link_to(new_registration_path(resource_name)) do %>
      <strong><%= t('account.create_new_account') %></strong>
    <% end %>

  </p>
<% end %>