<h2>Hi, you received a code by <%= current_user.two_factor_via %>, please enter it below, thanks!</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :method => :post) do |f| %>

  <%- resource_params = params[resource_name].presence || params %>
  <%= f.hidden_field :remember_me, value: resource_params.fetch(:remember_me, 0) %>
  <%= f.text_field :otp_attempt %>

  <%= f.submit %>

<% end %>