<% previous_month_end = month.ago(1.month).end_of_month %>
<% current_month = Date.today.month %>
<% row = 0 %>
<nav class="pagination is-small is-centered" role="navigation" aria-label="pagination">
  <% if current_month < month.month %>

    <%= link_to professional_dashboard_appointments_path(:month => month.prev_month), class: 'pagination-previous' do %>
      <%= month.prev_month.strftime("%B") %>
    <% end %>
  <% end %>

  <%= link_to professional_dashboard_appointments_path(:month => month.next_month), class: 'pagination-next' do %>
    <%= month.next_month.strftime("%B") %>
  <% end %>
  <ul class="pagination-list">
    <li class="month-name"> <%= month.strftime("%B %Y") %></li>
  </ul>
</nav>
<br/>
<table class="month month-calendar">
  <thead>
  <tr>
    <td class="header" colspan="7">

    </td>
  </tr>
  <tr class="week">
    <% Date::ABBR_DAYNAMES.rotate.each_with_index do |day, index| %>
      <td class="day-week">
        <%= t('date.abbr_day_names')[index].capitalize %>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <!-- if it not start with monday -->
  <% if month.beginning_of_month.wday != 1 %>
    <tr>
      <% (previous_month_end.day - (previous_month_end.wday - 1)..previous_month_end.day).each do |day| %>
        <td class="out-of-month">
          <% row = row + 1 %>
        </td>
      <% end %>
  <% end %>

  <% (month.beginning_of_month.day..month.end_of_month.day).each do |day| %>
    <!-- last month ended at 6-->
    <% if row % 7 == 0 %>
      <tr>
    <% end %>
    <td>
      <%= day %>
      <% unless @appointments.nil? %>
        <% current_day = DateTime.new(month.year, month.mon, day) %>
        <% if in_holiday?(current_day, events) %>
          <% get_classes(current_day, events).each do |e| %>
            <div class="in-event" style="background:#<%= e[:color] %>"></div>
          <% end %>
        <% end %>
      <% end %>
      <% row = row + 1 %>
    </td>
    <!-- if we end the current week -->
    <% if row % 7 == 0 %>
      </tr>
      <tr>
    <% end %>
  <% end %>
  </tr>
  </tbody>
</table>
