<h2 class="title is-6"><%= t('Consultations') %></h2>
<% @consultations.each do |entry| %>



<% end %>


<%= render :partial => 'professional/dashboard/appointments/month_scheduler', :locals => {month: @month} %>
