<style>
  :root {
    --schedule-rows-height: 50px;
    --cd-color-border: #ebebeb;
  }

  .doctor-availability .time {
    margin: 12px;
  }

  .doctor-availability .time label.tag {
    width: 54px;
  }

</style>
<h2 class="subtitle"><%= t('doctor.dotor_availability.title') %></h2>
<%= simple_form_for(:config, url: professional_dashboard_scheduler_update_path) do |f| %>
  <%= f.fields_for :professional_config do |professional_config| %>
    <% if @professional_config.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@professional_config.errors.count, "error") %> prohibited this holiday from
          being saved:</h2>

        <ul>
          <% @professional_config.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
      <%= professional_config.input :max_days_from_today_to_be_booked, input_html: {:value => @professional_config.max_days_from_today_to_be_booked} %>
    </div>

    <div class="field">
      <label class="label"><%= t('simple_form.labels.professional_block_account_history.slot_consultation_duration_min') %></label>
      <div class="app-notification is-warning"> ? Une durée en min qui (10, 15, ....) permet d'estimer vos
        séances de consultation
      </div>
      <div class="control">
        <div class="select">
          <%= professional_config.input :slot_consultation_duration_min, :collection => (10...100).step(5), label: false, :default => 10,  :selected => @professional_config.slot_consultation_duration_min %>
        </div>
      </div>
    </div>
    <br/>
  <% end %>
  <h3><%= t('doctor.dotor_availability.specialities_estimation') %> : </h3>
  <table class="table is-striped">


    <tbody>
    <tr>
      <td><%= t('speciality') %></td>
      <td colspan="2"><%= t('doctor.dotor_availability.specialities_estimation_in_minutes') %> #info</td>
    </tr>
    <% @specialites.each do |item| %>
      <tr>
        <td> <%= item.speciality.en_fr %> </td>
        <td><%= select_tag 'consultation_duration[' + item.speciality.id.to_s + ']', options_for_select((1..5).map {|s| ["#{s}", s]}, @times_slots_by_speciality_id[item.speciality.id].present? ? @times_slots_by_speciality_id[item.speciality.id].time : 1) %>
          slots (X * slots)
        </td>
      </tr>
    <% end %>

    </tbody>
  </table>

  <h3><%= t('doctor.dotor_availability.principale_address') %>:</h3>

  <% if current_user.doctor_profile.address.nil? %>
    <span class="tag is-danger"><%= t('doctor.menu.not_configuered_yet') %></span>
    <%= link_to doctor_profile_path do %>
      Configurer votre addresse
    <% end %>
  <% end %>
  <h3>Disponibilé de la semaine : </h3>

  <table class="table is-striped doctor-availability">
    <tr>
      <td>
        Jour
      </td>
      <td>
        Matin
      </td>
      <td>
        Après midi
      </td>
    </tr>
    <% Date::DAYNAMES.rotate.each_with_index do |day, index| %>
      <% if index > 0 %>
        <tr>
          <td>
            <%= t('date.day_names')[index].capitalize %>
          </td>
          <td>
            <div class="time">
              <label class="tag is-success">De </label>
              <%= select_time @ref_time_morning_start, {start_hour: 8.00, end_hour: 14.00}, {:name => 'availability_morning_start[' + index.to_s + ']'} %>

            </div>
            <div class="time">
              <label class="tag is-success">A </label>
              <%= select_time @ref_time_morning_end, {start_hour: 8.00, end_hour: 14.00}, {:name => 'availability_morning_end[' + index.to_s + ']'} %>
            </div>
            <hr/>
            <% address_id = 'availability_day_' + index.to_s + '_period_' + 1.to_s %>
            <input id="<%= address_id %>" name="<%= address_id %>">
            <button onclick="selectAvailabilityAddress(event, '<%= address_id %>')">selection addresse</button>

          </td>
          <td>
            <div class="time">
              <label class="tag is-success">De </label>
              <%= select_time @ref_time_evening_start, start_hour: 13.00, end_hour: 19.00 %>
            </div>


            <div class="time">
              <label class="tag is-success">A </label>
              <%= select_time @ref_time_evening_end, start_hour: 13.00, end_hour: 19.00 %>
            </div>
            <hr/>

            <% address_id = 'availability_day_' + index.to_s + '_period_' + 1.to_s %>
            <input id="<%= address_id %>" name="<%= address_id %>">
            <button onclick="selectAvailabilityAddress(event, '<%= address_id %>')">selection addresse</button>
          </td>

        </tr>
      <% end %>
    <% end %>
  </table>
  <div class="has-text-centered">
    <%= submit_tag t("Save"), name: nil, class: 'button ' %>
    <a href="<%= professional_dashboard_path %>" class="button">
      <%= t("Cancel") %>
    </a>
  </div>
<% end %>




<%= render "partials/map_scripts" %>



<div class="modal" id="modal_map_container">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div id="modal_map">

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>