<style>
  #doctor_top_navigation {
    padding: 1rem 1rem;
    margin: 1px -1.5rem;
  }

  .navbar-item .app-icon {
    --primary: #7a93b4;
    --secondary: #7a93b4;
    margin: 0;
  }


</style>
<div class="container">

  <nav id="doctor_top_navigation " class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-brand">
          <a class="navbar-item">
            <% cache "logo_top_header" do %>
              <%= render 'partials/logo', :locals => {:pro => true} %>&nbsp;<span class="tag pro-logo">Pro</span>
            <% end %>
          </a>
        </div>


      </div>
      <div class="navbar-end">
        <a href="/" class="navbar-item">
          Home
        </a>

        <a class="navbar-item">
          Documentation
        </a>
        <div class="navbar-item  has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless">
            <% cache "icons_icon-notification" do %>
              <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-notification'} %>
            <% end %>
          </a>
          <div class="navbar-dropdown is-right">

          </div>

        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <% cache "icons_icon-dots-horizontal" do %>
              <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-dots-horizontal'} %>
            <% end %>
          </a>
          <div class="navbar-dropdown is-right">
            <%= link_to(company_pages_path('security-and-data'), :class => "navbar-item") do %>
              <%= t('footer.guide_links.security_and_data_protection') %>
            <% end %>
            <%= link_to(company_pages_path('contact'), :class => "navbar-item") do %>
              <%= t('Contact') %>
            <% end %>
            <%= link_to(company_pages_path('team'), :class => "navbar-item") do %>
              <%= t('Team') %>
            <% end %>
            <%= link_to(company_pages_path('documentation'), :class => "navbar-item") do %>
              <%= t('Documentation') %>
            <% end %>
            <%= link_to(company_pages_path('faq'), :class => "navbar-item") do %>
              <%= t('FAQ') %>
            <% end %>
            <hr class="navbar-divider">
            <%= link_to(destroy_user_session_path, :method => :delete, :class => "navbar-item") do %>
              Log out
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>