<% if current_user&.doctor_profile && !current_user.doctor_profile.is_confirmed && current_user.doctor_profile.idle_profile_status? %>
  <div class="alert alert-danger">
    You profile is not yet confirmed, We need some details to
    <%= link_to(doctor_profile_confirm_request_required_documents_path) do %>
      Request confirmation
    <% end %>
  </div>
<% end %>