<style>
  .hero.is-large .hero-body {
    padding-bottom: 0;
    padding-top: 10rem;
  }

  .hero figure {
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
  }

  figure.image {
    padding-left: 50px;
    padding-right: 50px;
  }


  .media-left .icon {
    margin-top: 15px;

  }

  .section {
    padding: 7rem 5rem;
  }

  .content h1 {
    margin-bottom: 2em;
  }

  #stn-download {
    color: #ffffff;
    background-image: linear-gradient(135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
  }

  .hero.is-landing {
    color: #ffffff;
    background-image: linear-gradient(135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
  }

  .hero.is-landing * {
    color: #ffffff;
  }

  #stn-download h1 {
    color: #ffffff;
  }

  .button.button-store img {
    margin-right: 0.4rem;
    vertical-align: text-bottom;
  }
</style>

<div class="container section">
  <div class="content has-text-centered">
    <h1>Frequently Ask Questions</h1>
  </div>
  <h1><%= t('Subscription') %></h1>
  <div class="column is-half">
    <div class="title is-4">Can I try before I subscribe ?</div>
    <p>Yes, you have a free month subscription starting from your account creation date.</p>
    <p>Note for beta test, the service is free but many services are not functional </p>
  </div>
  <div class="column is-half">
    <div class="title is-4">I'm an ONG / a startup, if there is a subscription discount  ?</div>
    <p>Yes, you have a 50% discount in the two available plans </p>
  </div>

  <div class="column is-half">
    <div class="title is-4">I'm an ONG or a startup, if there is a subscription discount  ?</div>
    <p>Yes, you have a free month subscription starting from your account creation date.</p>
    <p>Note for beta test, the service is free but many services are not functional </p>
  </div>
  <h1><%= t('Cookies') %></h1>
  <h1><%= t('Analysis') %></h1>
  <h1><%= t('Data') %></h1>
  <div class="columns">


    <div class="column is-half">
      <div class="title is-4">Can I try before I buy?</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi
        nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante.</p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="title is-4">Can I try before I buy?</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi
        nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante.</p>
    </div>

    <div class="column is-half">
      <div class="title is-4">Can I try before I buy?</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi
        nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante.</p>
    </div>
  </div>

</div>