<div class="container">
  <%= render 'partials/wip' %>
  <div class="row">
    <div class="col-md-6">
      <div class="content-block">
        <h2 class="title is-5">End-to-End Encryption</h2>
        <h4 class="title is-6"> Messages are encrypted at all times</h4>
        <p>Messages are stored on Bloosa servers in encrypted format. They are also transmitted in encrypted format
          between our servers and user devices. Messages between Bloosa users are also transmitted in encrypted form
          within our secure server network. Because data is encrypted at all steps, the risk of message interception is
          largely eliminated.</p>
      </div>

      <div class="content-block">
        <h2 class="title is-5">Data in transit</h2>
        <h4 class="title is-6"> Communication over HTTPS </h4>
      </div>

      <div class="content-block">
        <h2 class="title is-5">Data in rest</h2>
        <h4 class="title is-6"> E2E and RSA-256 </h4>
      </div>

      <div class="content-block">
        <h2 class="title is-5">Hipaa compliance</h2>
      </div>


    </div>
  </div><!--/.cols -->
  <p>&nbsp;</p>
</div>