<div class="container">
  <%= render 'partials/wip' %>
  <h3 class="title is-6">Technology</h3>
  <h3 class="title is-6">Flexibility</h3>
  <h3 class="title is-6">Availablity</h3>
  <h3 class="title is-6">Support</h3>
  <h3 class="title is-6">Accessibilty</h3>
  <h3 class="title is-6">Price</h3>
  <h3 class="title is-6">Custom Integration</h3>
</div>