<%= javascript_include_tag "search" %>
<%= simple_form_for :search, url: search_path, method: "GET", html: {:class => "main-search"} do %>
  <div class="columns">
    <div class="column is-two-fifths">
      <div class=" field">
        <p class="control is-expanded has-icons-left">
          <input class="input" name="q" type="text" placeholder="Name">
          <span class="icon is-small is-left">
            <i data-feather="search"></i>
        </span>
        </p>
      </div>
    </div>
    <div class="column field">
      <p class="control is-expanded has-icons-left">
        <select id="specialities" name="specialities" class="input">
          <option value="all"><%= t('app.search.specialities') %></option>
          <option v-for="(item, index) in items" :value="item.id">
            {{ item.name }}
          </option>
        </select>
        <span class="icon is-small is-left">
          <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-survey'} %>
        </span>
      </p>
    </div>
    <div class="column field">
      <p class="control is-expanded has-icons-left">
        <select id="cities" class="input" name="location">
          <option value="all"><%= t('app.search.cities') %></option>
          <option v-for="(item, index) in items" :value="item.id">
            {{ item.name }}
          </option>
        </select>
        <span class="icon is-small is-left">
          <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-location-pin'} %>
        </span>
      </p>
    </div>
    <div class="column field">
      <button class="button rounded bg-primary-5  is-fullwidth" type="submit">
        <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-search'} %>&nbsp;&nbsp;<%= t('Search') %>
      </button>
    </div>
    <!-- /row -->
  </div>
<% end %>
