<style>
  #enable_map_container input[type="checkbox"] {
    all: unset;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 24px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }

  /* Rounded sliders */
  .slider.round {

    border-radius: 18px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
</style>
<div class="container">
  <%= render 'public/professionals/search_form' %>
  <div id="list_doctors_container">

  </div>
  <!-- /pagination -->
</div>
<!-- /col -->

<!-- /container -->
<%= render "partials/map_scripts" %>
<script type="text/x-template" id="list_vue_template">
  <div>
    <section class="section container">
      <strong>Showing {{items.length}}</strong> of {{totalItems}} results
      <span class="is-pulled-right" id="enable_map_container">
          <a href="<%= search_path({params: {view_style: "map"}}) %>"></a>
<label class="switch">
  <input type="checkbox" :checked="isMapShown" @change="toggleMap($event)">
  <span class="slider round"></span>
</label>
          <span class="sr-only">enable Map</span>
      </span>
    </section>
    <section class="section container">
      <div class="columns">
        <div class="list-container column " :class="{ 'is-two-thirds' : isMapShown }">
          <div v-for="item in items" class="list-container__item">
            <div class="gallery-holder">
              <img class="gallery-item " src="https://i.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg"/>
            </div>
            <div class="list-container__item-info">
              <h4>Item name</h4>
              <div class="list-container__item-heading"></div>
              <div class="list-list-container__item-footer"></div>
            </div>
            <hr/>
          </div>


        </div>
        <aside class="column " :class="{ 'is-one-third': isMapShown}" v-show="isMapShown">
          <div id="map_listing" class="normal_list">
          </div>
        </aside>
      </div>
    </section>


  </div>
</script>