
<div id="contact_us" class="has-text-centered">
  <div>
    <div>
      <% unless @errors.nil? %>
        <% @errors.each do |key, error| %>
          <span class="has-text-danger"><%= key %>  : <%= error %></span> <br/>
        <% end %>
      <% end %>
      <%= render 'partials/contact' %>
    </div>
  </div>
</div>