/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *=
 */
@import 'welcome/index';

.welcome-full-background__container {
  overflow: hidden;
  .welcome-full-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 500px;
  }
}

#pack_brand {
  .media-left {
    width: 120px;
  }
}