<div class="dropdown-menu" aria-labelledby="alertsDropdown">
  <h6 class="dropdown-header">New Alerts:</h6>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
    <span class="small float-right text-muted">11:21 AM</span>
    <div class="dropdown-message small">This is an automated server response message. All systems are online.
    </div>
  </a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">
              <span class="text-danger">
                <strong>
                  <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
              </span>
    <span class="small float-right text-muted">11:21 AM</span>
    <div class="dropdown-message small">This is an automated server response message. All systems are online.
    </div>
  </a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
    <span class="small float-right text-muted">11:21 AM</span>
    <div class="dropdown-message small">This is an automated server response message. All systems are online.
    </div>
  </a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item small" href="#">View all alerts</a>
</div>