<style>
  #professional_side .app-icon {
    --primary: #57616938;
    --secondary: #050505;
  }
</style>
<aside id="professional_side" class="menu section">
  <p class="menu-label">
    <%= t('General') %>
  </p>
  <ul class="menu-list">
    <li>
      <a href="<%= professional_dashboard_path %>">
        <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-dashboard'} %> <%= t("doctor.dashboard.overview") %>
      </a>
    </li>
    <li>
      <%= link_to(professional_dashboard_appointments_path) do %>

        <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-survey'} %>

        <span class="nav-link-text"><%= t('Appointements') %>
          <span class="tag is-primary"><%= appointments_future_count %>
            New</span></span>
      <% end %>
    </li>

    <li>
      <%= link_to(professional_dashboard_professional_holidays_path) do %>
        <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-umbrella'} %>

        <span data-feather="sun"></span><span><%= t('Holidays') %></span>
      <% end %>
    </li>
  </ul>

  <p class="menu-label">
    <%= t('Private') %>
  </p>
  <ul class="menu-list">
    <li>
      <%= link_to(professional_vault_path) do %>
        <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-inbox-full'} %>

        <%= t('Vault') %>
      <% end %>
    </li>
    <li>
      <a class="disabled">
      <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-mail'} %>
      <%= t('Inbox') %> </a></li>
    <li><a class="disabled">

      <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-user-group'} %>

      <%= t('Connections') %>
      &nbsp;<span class="tag is-warning"><%= t('Soon') %></span></a></li>

    <li>
      <a class="disabled">
        <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-document-notes'} %>

        <%= t('Notes') %>
        &nbsp;<span class="tag is-warning"><%= t('Soon') %></span> </a></li>
  </ul>
  <hr/>
  <p class="menu-label">
    <%= t('Settings') %>

  </p>
  <ul class="menu-list">
    <li>
      <%= link_to(professional_dashboard_scheduler_path, {:class => "nav-link"}) do %>
        <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-calendar'} %>
        <span><%= t('scheduler') %></span>&nbsp;
        <% if should_configure_scheduler? or should_configure_system? %>
          <span class="tag is-danger"><%= t('doctor.menu.not_configuered_yet') %></span>
        <% end %>
      <% end %>
    </li>
    <li>
      <%= link_to professional_profile_path do %>

        <%= render :partial => 'partials/icon', :locals => {:icon => 'icon-cog'} %>
        <span data-feather="settings"></span><%= t('Settings') %>
      <% end %>
    </li>
  </ul>
</aside>