/* ==========================================================================
Main SCSS file / Fresh
========================================================================== */
.button.bg-primary- * {
  border: none;
}

.Site-footer {
  margin-top: auto;
  .column {
    text-align: left;
  }
  .link-list {
    li {
      padding: 4px 0;
    }
    a {
      color: $primary-5;
    }
  }

  a {
    color: $primary-5;
  }
}

// reset checkbox

.reset-checkbox-form {
  all: revert;
}

.is-relative {
  position: relative;
}

.pro-logo {
  background-color: $app-color !important;
  color: black !important;
}