/* ==========================================================================
Color variables
========================================================================== */

$white: #fff;
$app-color: #f2cd9e  ;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;
// Palette
// #TODO
$primary-1: hsl(205, 100%, 21%);
$primary-2: hsl(205, 87%, 29%);
$primary-3: hsl(205, 82%, 33%);
$primary-4: hsl(205, 76%, 39%);
$primary-5: hsl(205, 67%, 45%);
$primary-6: hsl(205, 65%, 55%);
$primary-7: hsl(205, 74%, 65%);
$primary-8: hsl(205, 84%, 74%);
$primary-9: hsl(205, 97%, 85%);
$primary-10: hsl(205, 79%, 92%);
$primaries: $primary-1, $primary-2, $primary-3, $primary-4, $primary-5, $primary-6, $primary-7, $primary-9, $primary-10;

$neutral-1: hsl(209, 61%, 16%);
$neutral-2: hsl(211, 39%, 23%);
$neutral-3: hsl(209, 34%, 30%);
$neutral-4: hsl(209, 28%, 39%);
$neutral-5: hsl(210, 22%, 49%);
$neutral-6: hsl(209, 23%, 60%);
$neutral-7: hsl(211, 27%, 70%);
$neutral-8: hsl(210, 31%, 80%);
$neutral-9: hsl(212, 33%, 89%);
$neutral-10: hsl(210, 36%, 96%);

// accents and supporting

$support-red-1: hsl(360, 92%, 20%);
$support-red-2: hsl(360, 85%, 25%);
$support-red-3: hsl(360, 79%, 32%);
$support-red-4: hsl(360, 72%, 38%);
$support-red-5: hsl(360, 67%, 44%);
$support-red-6: hsl(360, 64%, 55%);
$support-red-7: hsl(360, 71%, 66%);
$support-red-8: hsl(360, 77%, 78%);
$support-red-9: hsl(360, 82%, 89%);
$support-red-10: hsl(360, 100%, 97%);

$supports-red: $support-red-1, $support-red-2, $support-red-3, $support-red-4, $support-red-5, $support-red-6, $support-red-7, $support-red-8, $support-red-9, $support-red-10;

$primary: #004e92;
$secondary: #F39200;
$accent: #00efb7;

$blue-grey: #444F60;
$muted-grey: #999;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #7F00FF;
$mint: #11FFBD;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #4FC1EA;
$placeholder: #cecece;
$dark-grey: #344258;
$border-grey: #ccc;
$muted-grey: #999;
$section-grey: #fbfbfb;
$icon-default-primary: #{$primary-6};
$icon-default-secondary: #F2F2F2;