/* line 529, src/assets/scss/pages/_pages-landing-kit5.scss */
.contact-form {
  width: 100%;
  padding: 40px 20px;
  text-align: left;
  label {
    font-weight: 600;
    color: #444F60
  }
  .submit-wrapper {
    text-align: right
  }
}

/* line 543, src/assets/scss/pages/_pages-landing-kit5.scss */
.contact-toggler {
  padding: 40px 0;
  .tabbed-links {
    text-align: left;
  }
  .tabbed-links li {
    display: inline-block;
    padding: 10px;
    color: #cecece;
    border-top: 2px solid transparent;
    cursor: pointer;
    &.is-active {
      color: #444F60;
      font-weight: 500;
      border-top: 2px solid #6EBDFF
    }
  }
  .contact-blocks {
    .contact-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 20px 0;
      .contact-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: $app-color;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        svg {
          --primary: white;
          --secondary: white;
        }
      }

      .contact-info {
        padding: 0 10px;
        span {
          display: block
        }
        &:first-child {
          font-weight: 500;
          color: #444F60
        }
        &:nth-child(2) {
          font-weight: 500;
          color: #039BE5
        }
      }

    }
  }
}