@import "application/colors";
// https://tympanus.net/codrops/2015/07/16/styling-svg-use-content-css/
svg.app-icon {
  width: 24px;
  height: 24px;
  margin: 5px;
  --primary: #{$primary-5};
  --secondary: #{$icon-default-secondary};
  .alt {
    --primary: red;
    --secondary: #6F213F;
  }
}
