@import "colors";
.app-notification {
  padding: .1rem .3rem;
  margin: .2rem 0;
  border-radius: 4px;
  font-size: 13px;
  .app-icon {
    width: 20px;
    height: 20px;
    margin: -5px 3px;
  }
  &.is-warning {
    background: navajowhite;
    .app-icon {
      --primary: black;
      --secondary: black;
    }
  }
  &.is-danger {
    background-color : $support-red-6 ;
    color  : white;

  }
}