@import "application/colors";

@for $i from 1 through length($primaries) {
  $color: nth($primaries, $i);
  .color-primary-#{$i} {
    color: $color !important;
  }
  .bg-primary-#{$i} {
    background: $color !important;
  }
  .button.bg-primary-#{$i} {
    border-color: transparent;
    color: white;
  }
}

@for $i from 1 through length($supports-red) {
  $color: nth($supports-red, $i);
  .color-support-red-#{$i} {
    color: $color !important;
  }
  .bg-support-red-#{$i} {
    background: $color !important;
  }
  .button.bg-support-red-#{$i} {
    border-color: transparent !important;
    color: white !important;
  }
}
