@import 'application/colors';
@import 'application/spacing';

/* ==========================================================================
Navbar
========================================================================== */
.main-search {
  padding-top: 4rem;
  button[type='submit'] {
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, .2);
    border: none;
    svg.app-icon {
      margin: 0;
      --primary: #{$primary-5};
    }
  }
}

.list-container {
  padding: 1.5rem 0;
  .list-container__item {

    padding: $padding-min 0;
    display: flex;

    .gallery-holder {
      width: 250px;
      height: 250px;
      border-radius: 4px;
      overflow: hidden;
      float: left;
      .gallery-item {
        height: auto;
        width: 250px;
      }
    }
    .list-container__item-info {
      flex: auto;

      .list-container__item-heading {
        flex: 1;
      }
      .list-container__item-footer {
        flex: 1;
      }
    }
  }
}