.devise-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 100%;
  flex: 1;
  flex-direction: column;
  &.input[type="checkbox"] {;
  }
}

.devise-form-container {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  form {
    width: 100%;
    .form-title {
      font-size: 30px;
      color: #403866;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      display: block;
    }
  }
}