/* ==========================================================================
Main SCSS file / Fresh
========================================================================== */

@font-face {
  font-family: sofiapro-light;
  src: url("/fonts/sofiapro-light.otf") format("opentype");
}

@font-face {
  font-family: sofiapro;
  src: url("/fonts/Sofia Pro Regular.otf") format("opentype");
}

html *, body * {
  font-family: sofiapro !important;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.is-margin-auto {
  margin: auto;
}

//Imports
@import 'colors';
@import 'icons';
@import 'layout';
@import 'palette';
@import 'spacing';
@import 'navbar';
@import 'buttons';
@import 'search';
@import 'mobile';
@import 'charts';
@import 'contact';

//
@import 'base';
//
@import 'devise';