<style>
  .flash-container .alert {
    margin-bottom: 12px;
  }
</style>
<div class="flash-container">
  <% flash.each do |key, value| %>
    <div class="has-text-centered alert alert-<%= key %>">
      <ul>
        <li>
          <a href="#" data-dismiss="alert" class="close">×</a> <%= value %>
        </li>
      </ul>
    </div>
  <% end %>
</div>