<% content_for :page_title do %>
  <%= t('admin.app.title') %>
<% end %>
<% content_for :header do %>
  <span></span>
<% end %>

<% content_for :extend_css_assets do %>
  <%= stylesheet_link_tag "professional", :media => "all" %>
<% end %>

<% content_for :extend_js_assets do %>
  <%= javascript_include_tag 'professional', 'data-turbolinks-track': 'reload' %>
<% end %>


<%= extends :application do %>

  <div class="container is-fullhd">
    <div class="columns">
      <div class="is-one-quarter">
        <%= render 'admin/navigation' %>
      </div>
      <main class="column section" style="padding-top:  3rem; min-width: 780px">
        <%= yield %>
      </main>
    </div>
  </div>

<% end %>