<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:page_title) ? yield(:page_title) : default_page_title %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Bloosa is where people build software. .... TODO ">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

    <%= stylesheet_link_tag "welcome", :media => "all" %>
 

  <link rel="stylesheet" href="/assets/vendor/bulma.css">


  <%= stylesheet_link_tag "application", :media => "all" %>



  <%= yield :extend_css_assets %>


  <!-- define global scripts and all other js libs -->
  <%= render 'partials/scripts' %>
  <%= javascript_include_tag "application", :defer => "defer" %>

</head>
<body class="Site">
<% if Rails.env.production? || Rails.env.staging? %>
  <div class="has-text-centered has-text-danger">
    This is a pre-alpha version of bloosa (Dev in progress). Our service will be available on 20/10/2020. Please do not
    hesitate
    to ask for feature or to create a free beta account
    <div>
      <%= link_to(company_pages_path('contact')) do %>
        Contact us for any request
      <% end %>

    </div>

  </div>
<% end %>
<% cache('partials/icons') do %>
  <%= render 'partials/icons' %>
<% end %>
<%= render 'layouts/messages' %>

<% if content_for?(:header) %>
  <%= yield(:header) %>
<% else %>
  <% if user_signed_in? %>
    <%= render 'partials/header_in' %>
  <% else %>
    <%= render 'partials/header' %>
  <% end %>
<% end %>


<% if (alerted = alert) %>
  <p id="alert"><%= alerted %></p>
<% end %>
<div class="Site-content">
  <%= yield %>
</div>
<div class="Site-footer">
  <% if user_signed_in? %>
    <%= render 'partials/footer_in' %>
  <% else %>
    <%= render 'partials/footer_out' %>
  <% end %>
</div>



<%= yield :extend_js_assets %>

</body>
</html>
