<!DOCTYPE html>
<html>
<head>
  <title>Getting Things Done with Engine Yard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <style>
    <%= Rails.application.assets.find_asset('mobile').to_s %>
  </style>
</head>
<body>
<!-- End Preload -->
<%= render 'partials/header' %>
<% if alerted = alert %>
  <p id="alert"><%= alerted %></p>
<% end %>
<main>
  <%= yield %>
</main>
<div>
  Bloosa 2016 - <%= Time.current.year %>
</div>
</body>
</html>
