<!DOCTYPE html>
<html>
<head>
  <title>Bloosa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<section class="devise-page">

  <%= render 'layouts/messages' %>

  <% if (alerted = alert) %>
    <p id="alert"><%= alerted %></p>
  <% end %>

  <%= yield %>
</section>
<%= render 'partials/footer_in' %>
</body>
</html>
