<% content_for :page_title do %>
  <%= t('doctor.app.title') %>
<% end %>
<% content_for :header do %>
  <span></span>
<% end %>

<% content_for :extend_css_assets do %>
  <%= stylesheet_link_tag "professional", :media => "all" %>
<% end %>

<% content_for :extend_js_assets do %>
  <%= javascript_include_tag 'professional', :defer => "defer", 'data-turbolinks-track': 'reload' %>
<% end %>


<%= extends :application do %>
  <%= render 'partials/professional/header_in' %>
  <div class="container">
    <div class="columns">
      <div class="is-one-quarter">
        <%= render 'professional/navigation' %>
      </div>
      <main class="column section" style=" min-width: 780px">
        <%= render 'partials/professional/profile_state_verify' %>
        <section>
          <%= yield %>
        </section>
      </main>
    </div>
  </div>

<% end %>